.required-label span {
	color: #f44336;
}

.input-text {
	background: var(--common-containerBackgroundColor);

	&::placeholder {
		color: var(--common-placeholderTextColor);
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: var(--common-placeholderTextColor);
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: var(--common-placeholderTextColor);
	}
	> div {
		border: 1px solid var(--common-borderColor);
		box-sizing: border-box;
		border-radius: 6px;
		&::before {
			border: 0 !important;
		}
		&::after {
			border: 0 !important;
		}
	}
	input {
		color: var(--common-textColor);
		font-size: 14px;
		padding: 12px;
		padding-left: 0px;
		&::before {
			border: 0;
		}
		&::after {
			border: 0;
		}
	}
}
