.required-label span {
	color: #f44336;
}

.input-text {
	&::placeholder {
		color: #cdcdcd;
		opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #cdcdcd;
	}

	::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #cdcdcd;
	}
	> div {
		border: 1px solid #e7e7e7;
		box-sizing: border-box;
		border-radius: 6px;
		&::before {
			border: 0 !important;
		}
		&::after {
			border: 0 !important;
		}
	}
	input {
		font-size: 14px;
		padding: 12px;
		padding-left: 0px;
		&::before {
			border: 0;
		}
		&::after {
			border: 0;
		}
	}
}
