@import "src/styles/utils";

.top-oracle-scripts {
	margin-bottom: 20px;
	margin-top: 10px;

	.item {
		padding: 20px;
		background: #ffffff;
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;

		&-ordering {
			margin-bottom: 10px;
			color: #1b57f0;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}

		&-title {
			margin-bottom: 5px;
			color: #000000;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		&-content {
			margin-bottom: 15px;
			color: #000000;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}

		&-request,
		&-response {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;

			&-title {
				color: #181818;
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 150%;
			}

			&-value {
				color: #181818;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 150%;
			}
		}

		@include media("<large") {
			&-ordering,
			&-content,
			&-request-key,
			&-request-value {
				font-size: 16px;
			}
			&-title {
				font-size: 19px;
			}
		}
	}
}
