@import "src/styles/utils";

.footer {
}

.top-section {
	padding: 40px 0;
	background-color: #000d20;

	.email {
		margin-bottom: 16px;

		&-function {
			color: #e7eef8;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 150%;
			text-decoration-line: underline;
		}

		&-address {
			color: #e7eef8;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			text-decoration-line: underline;
		}
	}

	.address {
		p {
			color: #8aa2c9;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}
	}

	.nav {
		&-item {
		}

		&-title {
			display: inline-block;
			margin-bottom: 10px;
			color: #e7eef8;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		&-link {
			display: inline-block;
			margin-bottom: 10px;
			color: #acc7f2;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}

		&-icon {
			margin-right: 4px;
		}
	}
}

.bottom-section {
	background-color: #495a75;

	&-body {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

		@include media(">=large") {
			justify-content: space-between;
			flex-direction: row;
		}

		.copy-right {
			padding: 13px 0;
			color: #99aac2;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 13px;
			line-height: 150%;
		}

		.nav {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			padding: 0;
			margin: 0;
			list-style: none;

			&-item {
			}

			&-link {
				display: inline-block;
				margin-right: 12px;
				padding: 13px 0;
				color: #99aac2;
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 13px;
				line-height: 150%;
			}
		}
	}
}
