.block-row-wrapper {
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;
	margin-top: 15px;
	padding: 15px;
	.block-row {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		.link {
			font-weight: normal;
			font-size: 16px;
			color: #1b57f0;
			cursor: pointer;
		}
		.left {
			font-weight: 500;
			font-size: 16px;
			color: #181818;
		}
		.right {
			text-align: right;
		}
		.left-two-line {
			.title {
				font-weight: 500;
				font-size: 16px;
			}
		}
		.right-two-line {
			.title {
				font-weight: 500;
				font-size: 16px;
			}
			text-align: right;
		}
		.type {
			font-size: 12px;
		}
		.owner {
			a {
				width: 150px;
				display: inline-block;
				overflow: hidden;
				text-overflow: ellipsis;
				font-size: 16px;
			}
		}
	}

	.block-row-desc {
		display: block;
		.right-desc {
			font-size: 16px;
		}
	}
}
