@import "src/styles/utils";

.search {
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 45px;
	margin: 0;
	padding: 0;
	display: flex;
	align-self: center;
	// background: #ffffff;
	// border: 1px solid #e7e7e7;
	box-sizing: border-box;
	border-radius: 8px;
	margin-bottom: 15px;
	display: flex;
	justify-content: flex-end;

	@include media("<medium") {
		width: 100%;
		height: 40px;
	}

	@include media("<=small") {
		height: 32px;
	}

	.input {
		padding: 10px 20px;
		height: 100%;
		width: 15%;
		background: var(--colorWhite);
		color: var(--colorMainText);
		font-size: var(--fontSizeMain);
		border-radius: 8px 0px 0px 8px;

		@include media("<=small") {
			margin-left: -5px;
			font-size: 10px;
		}

		&::placeholder {
			font-size: var(--fontSizeMain);
			color: var(--fontSizeDassSearchPh);
			line-height: inherit;
		}
	}

	.searchBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		// border: 1px solid var(--colorSearchInput);
		border-radius: 0 5px 5px 0;
		background: var(--colorWhite);
		color: var(--colorMainText);
		padding: 0 10.5px;

		@include media("<medium") {
			padding: 0px 5px;
		}
		.searchIcon {
			width: 20px;
			height: 20px;
			@include media("<medium") {
				width: 24px;
				height: 24px;
			}
		}
	}
}

.table-data-source {
	thead {
		tr {
			th {
				padding: 39px 22px;
			}
		}
	}
	tbody {
		tr {
			td {
				padding: 29px 20px;
			}
		}
	}
}
