@import "src/styles/utils";

$customPadding: 11.5px 15px 11.5px 10px;
.TxDisplay-table {
	overflow-x: auto;
	overflow-y: hidden;
	min-width: 300px;
	background: #f9f9f9;
	border: 1px solid #e7e7e7;
	margin-top: 20px;

	.tableHeaderCell {
		@include tableHeaderCellWidth300;
		@include tableHeaderPadding;
		padding: $customPadding;
		color: #1b57f0;
		font-weight: bold;
		font-size: 14px;
		line-height: 150%;
		background: #e8eeff;
	}

	.txHashWidth {
		overflow-x: visible;
		min-width: 90px;
		padding: 11.5px 5px 11.5px 10px;
	}
	.height {
		@include media("<dash_table_limit") {
			display: none;
		}
	}

	.typeWidth {
		padding: 11.5px 10px 11.5px 5px;
		min-width: 100px;
	}

	.timeWidth {
		min-width: 50px;
		padding: 11.5px 20px 11.5px 0;
	}
}
