@import "src/styles/utils";

.block-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		background-color: var(--common-containerBackgroundColor);

		table {
			width: 100%;
			tr {
				td:nth-child(1) {
					text-align: left;
				}
				td:nth-child(2) {
					text-align: right;
				}

				&:nth-child(1) {
					td {
						padding-bottom: 10px;
					}
				}

				&:nth-child(2) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		.item-text {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.item-link {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}
	}
}

.skeleton {
	&-inline-block {
		display: inline-block;
	}
}
