.required-label {
	color: #f44336;
	font-size: 12px;
	border: 0 !important;
}

.input-text {
	div {
		border: 1px solid #e7e7e7;
		&::before {
			border: 0 !important;
		}
		&::after {
			border: 0 !important;
		}
	}
	input {
		border: 0;
		font-size: 14px;
		padding: 12px;
		padding-left: 15px;
		&::before {
			border: 0;
		}
		&::after {
			border: 0;
		}
	}
}

.input-exchange {
	border: 0;
	.input-amount {
		width: 100%;
	}
	.to-usdt {
		padding-left: 15px;
		font-family: Roboto;
	}
}
