@import "src/styles/utils";

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.header-cell {
	color: var(--common-headerTextColor);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.id-data-cell,
.voting-start-data-cell,
.submit-time-data-cell {
	color: var(--common-textColor);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.submit-time-data-cell span,
.voting-start-data-cell span {
	color: var(--common-timeAgoColor);
}

.title-data-cell {
	color: var(--common-linkColor);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.total-deposit-data-cell {
	.amount {
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;

		&-value {
			display: inline-block;
			margin-right: 8px;
			color: var(--common-textColor);
		}

		&-denom {
			display: block;
			color: var(--common-oraiDenomTextColor);
		}
	}
}

.status-data-cell {
	.status {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		height: 28px;
		padding-left: 8px;
		padding-right: 8px;
		border-radius: 4px;

		&-icon {
			display: inline-block;

			&-passed {
				color: var(--proposals-proposalTable-statusPassedTextColor);
			}

			&-rejected {
				color: var(--proposals-proposalTable-statusRejectedTextColor);
			}

			&-unspecified {
				color: var(--proposals-proposalTable-statusUnspecifiedTextColor);
			}

			&-deposit-period {
				color: var(--proposals-proposalTable-statusDepositPeriodTextColor);
			}

			&-voting-period {
				color: var(--proposals-proposalTable-statusVotingPeriodTextColor);
			}

			&-failed {
				color: var(--proposals-proposalTable-statusFailedTextColor);
			}
		}

		&-text {
			display: inline-block;
			margin-left: 4px;
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 11px;
			white-space: nowrap;
		}

		&-passed {
			border: 1px solid var(--proposals-proposalTable-statusPassedBorderColor);
			background-color: var(--proposals-proposalTable-statusPassedBackgroundColor);

			.status-text {
				color: var(--proposals-proposalTable-statusPassedTextColor);
			}
		}

		&-rejected {
			border: 1px solid var(--proposals-proposalTable-statusRejectedBorderColor);
			background-color: var(--proposals-proposalTable-statusRejectedBackgroundColor);

			.status-text {
				color: var(--proposals-proposalTable-statusRejectedTextColor);
			}
		}

		&-unspecified {
			border: 1px solid var(--proposals-proposalTable-statusUnspecifiedBorderColor);
			background-color: var(--proposals-proposalTable-statusUnspecifiedBackgroundColor);

			.status-text {
				color: var(--proposals-proposalTable-statusUnspecifiedTextColor);
			}
		}

		&-deposit-period {
			border: 1px solid var(--proposals-proposalTable-statusDepositPeriodBorderColor);
			background-color: var(--proposals-proposalTable-statusDepositPeriodBackgroundColor);

			.status-text {
				color: var(--proposals-proposalTable-statusDepositPeriodTextColor);
			}
		}

		&-voting-period {
			border: 1px solid var(--proposals-proposalTable-statusVotingPeriodBorderColor);
			background-color: var(--proposals-proposalTable-statusVotingPeriodBackgroundColor);

			.status-text {
				color: var(--proposals-proposalTable-statusVotingPeriodTextColor);
			}
		}

		&-failed {
			border: 1px solid var(--proposals-proposalTable-statusFailedBorderColor);
			background-color: var(--proposals-proposalTable-statusFailedBackgroundColor);

			.status-text {
				color: var(--proposals-proposalTable-statusFailedTextColor);
			}
		}
	}
}

.skeleton {
	display: inline-block;
}