@import "src/styles/utils";
.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.header-cell {
	color: var(--common-headerTextColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.id-data-cell,
.voting-start-data-cell,
.submit-time-data-cell {
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.title-data-cell {
	color: var(--common-linkColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.total-deposit-data-cell {
	.amount {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;

		&-value {
			display: inline-block;
			margin-right: 8px;
			color: var(--common-textColor);
		}

		&-denom {
			display: inline-block;
			color: #5f51ff;
		}
	}
}

.status-data-cell {
	.status {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		height: 28px;
		padding-left: 8px;
		padding-right: 8px;
		border-radius: 4px;

		&-icon {
			display: inline-block;
			margin-right: 4px;
		}

		&-text {
			display: inline-block;

			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 11px;
		}

		&-passed {
			border: 1px solid var(--proposals-proposalTable-statusPassedColor);
			background-color: var(--proposals-proposalTable-statusPassedColor);
			.status-text {
				color: var(--common-textColor);
			}
		}

		&-rejected {
			border: 1px solid var(--proposals-proposalTable-statusRejectedColor);
			background-color: var(--proposals-proposalTable-statusRejectedColor);
			.status-text {
				color: var(--common-textColor);
			}
		}

		&-unspecified {
			border: 1px solid var(--proposals-proposalTable-statusUnspecifiedColor);
			background-color: var(--proposals-proposalTable-statusnspecifiedColor);
			.status-text {
				color: var(--proposals-proposalTable-statusUnspecifiedColor);
			}
		}

		&-deposit-period {
			border: 1px solid var(--proposals-proposalTable-statusDepositPeriodColor);
			background-color: var(--proposals-proposalTable-statusDepositPeriodColor);
			.status-text {
				color: var(--common-textColor);
			}
		}

		&-voting-period {
			border: 1px solid var(--proposals-proposalTable-statusVotingPeriodColor);
			background-color: var(--proposals-proposalTable-statusVotingPeriodColor);
			.status-text {
				color: var(--common-textColor);
			}
		}

		&-failed {
			border: 1px solid var(--proposals-proposalTable-statusFailedColor);
			background-color: var(--proposals-proposalTable-statusFailedColor);
			.status-text {
				color: var(--common-textColor);
			}
		}
	}
}

.skeleton {
	display: inline-block;
}
