@import "src/styles/utils";

.Tabs {
	width: 1200px;
	margin: 0 auto;
	display: flex;

	.Tab {
		width: 12.5%;
		height: 60px;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 60px;
		color: #181818;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;

		.title {
			margin-left: 10px;
		}
	}

	.Tab:hover {
		cursor: pointer;
		background-color: rgb(224, 224, 224);
	}

	.Tab:visited {
		cursor: pointer;
		background-color: #1B57F0;
	}

	.Tab:first-child {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.Tab:last-child {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.active {
		color: white;
		background-color: #1b57f0;
	}

	.active:hover {
		cursor: default;
		background-color: #1b57f0;
	}
}
