@import "src/styles/utils";

.tx-list {
	margin-top: 0;
	margin-bottom: 30px;
	@media (min-width: 1279px) {
		margin-top: 30px;
	}


	// // override default padding 16px from Material UI to fixed column
	// tbody tr td {
	// 	padding: 10px !important;
	// }

}
