@import "src/styles/utils";

.filter-section {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	@media screen and (min-width: 1280px) {
		margin-top: 30px;
		margin-bottom: 20px;
		text-align: right;
	}
	.select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 100%;
		height: 50px;
		padding-left: 15px;
		padding-right: 15px;
		color: var(--common-activeTabTextColor);
		background: var(--common-activeTabColor);
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;
		border: none;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;

		&:focus {
			outline: none;
		}
	}
}

.skeleton {
	display: inline-block;
}
