REACT_APP_SITE_TITLE=Oraichain (ORAI) Blockchain Explorer
REACT_APP_SITE_DESC=AI-Powered Data Oracle
REACT_APP_SITE_KEYWORDS=Oraichain, Oraiscan, AI Oracle
REACT_APP_SITE_URL=https://api.testnet.scan.orai.io
REACT_APP_SITE_TITLE_FOR_SHARE=Oraichain (ORAI) Blockchain Explorer
REACT_APP_API_PROD=https://api.testnet.scan.orai.io/v1
REACT_APP_WALLET_API=https://testnet-wallet.web.app
REACT_APP_WALLET_API_TESTNET=https://testnet-wallet.web.app
REACT_APP_LCD_API=https://lcd.testnet.orai.io
REACT_APP_WALLET_VERSION=2
REACT_APP_IS_TEST_NET=true
REACT_APP_GITHUB_ACCESS_TOKEN=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
REACT_APP_CONTRACT_RANDOMNESS=orai1ngmslc2kd25xd3045cfuhp2qcqjnlkxmhuhfcc
REACT_APP_CONTRACT_RANDOMNESS_TESTNET=orai18al3kesrjcxp8t24ss6684yq22pua5acwnj5ma
REACT_APP_AIORACLE_CONTRACT_ADDR=orai184qcs523u3h5a9klzjfza84hj4gfru6kgx4la9
REACT_APP_AIORACLE_SERVICE_FEES_ADDR=orai1qgae072t5tak83kg5xt8um0q2vclr9y5mah23z
REACT_APP_AIORACLE_TESTNET_CONTRACT_ADDR=orai1s60a2vntfuv2ps6fs75fcrlrmea9xzr4k65zlg
REACT_APP_AIORACLE_TESTNET_SERVICE_FEES_ADDR=orai1qgae072t5tak83kg5xt8um0q2vclr9y5mah23z
REACT_APP_AIORACLE_BACKEND=https://testnet-aioracle-svr.orai.io
REACT_APP_TESTNET_PING_ADDR=orai1u2pftkrzgyxhkpqphlz323a0hv5r2je7q8cx8m
REACT_APP_PING_ADDR=orai1enp2zauur6hatpmuqs4h9avafezuyxnek4rzz6