@import "src/styles/utils";

.test-case-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		background-color: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px var(--common-boxShadowColor);

		table {
			width: 100%;
			tr {
				td:nth-child(1) {
					text-align: left;
				}
				td:nth-child(2) {
					text-align: right;
				}

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			white-space: nowrap;
		}

		.item-text {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			word-break: break-all;
		}

		.item-link {
			color: var(--common-linkColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			word-break: break-all;
		}
		.item-symbol {
			text-transform: uppercase;
		}
	}
}

.price {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: var(--common-textColor);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;

	&-value {
		display: inline-block;
		padding-right: 4px;
	}

	&-denom {
		color: var(--common-oraiDenomTextColor);
		display: inline-block;
		text-transform: uppercase;
	}
}

.skeleton {
	display: inline-block;
}
