@import "src/styles/utils";

.container {
	display: flex;
	align-self: flex-end;
	margin-top: 5px;
}

.normal-text {
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
	margin-left: 10px;
}

.current-page {
	font-weight: bold;
	font-size: 12px;
	color: #1b57f0;
	margin-left: 10px;
	text-decoration-line: underline;
}
