.form-dialog {
	width: 530px;
	* {
		font-family: Roboto;
	}
}

.form-input {
	margin-bottom: 10px !important;
	textarea {
		border-color: var(--common-borderColor);
		padding-left: 15px;
		padding-top: 10px;
		font-size: 16px;
		&::-webkit-input-placeholder {
			color: var(--common-placeholderTextColor);
			font-size: 16px;
		}
	}
	.new-label {
		color: var(--common-placeholderTextColor);
		font-size: 14px;
		margin-top: 5px;
		.open-dialog {
			color: #008bd9;
			cursor: pointer;
		}
	}
}

.transaction-content {
	margin: 0px !important;
}

.row-balance {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	width: 100%;
	margin-bottom: 15px;
	padding-left: 0px;
	.title {
		font-weight: 500;
		font-size: 18px;
	}
	.value {
		font-weight: normal;
		font-size: 16px;
	}
	.title-right {
		text-align: right;
	}
}

.switch-multisend {
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	padding: 8px;
	padding-left: 0;
	button {
		margin-left: 5px;
	}
}

.tab-wrapper {
	margin-bottom: 25px;
	display: flex;
	flex-flow: row;
	align-self: flex-end;

	:nth-child(1) {
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
	}

	:nth-child(2) {
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}

	button {
		width: 50%;
		height: 100%;
		// border: solid 1px var(--common-modal-modalCommonBorderColor);
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--common-modal-modalCommonBorderColor);
		cursor: pointer;

		p {
			font-family: "Open Sans", serif;
			font-size: 18px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.36;
			letter-spacing: normal;
			text-align: left;
			color: var(--common-textColor);
			padding: 10px;
			font-weight: 500;
		}

		&.selected {
			background: var(--common-activeTabColor);

			p {
				color: var(--common-activeTabTextColor);
			}
		}
	}
}

.form-dialog-title {
	text-align: right;
	svg {
		cursor: pointer;
	}
}

.label {
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 10px;
	padding-left: 2px;
	.optional {
		color: var(--common-placeholderTextColor);
	}
	.fee {
		font-weight: 400;
	}
}

.label-right {
	display: flex;
	justify-content: space-between;
	.right {
		button {
			cursor: pointer;
			font-size: 16px;
			color: var(--common-modal-modalCommonTextColor);
			padding: 8px 15px;
			border: 1px solid var(--common-modal-modalCommonBorderColor);
			border-radius: 5px;
			&:first-child {
				margin-right: 10px;
			}
		}
	}
}

.btn-action-group {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0px 18px;
	margin-bottom: 30px;
	button {
		width: 50%;
	}
}

.btn-cancel {
	color: var(--common-modal-modalCommonTextColor) !important;
	border: 1px solid var(--common-modal-modalCommonBorderColor) !important;
	background: var(--common-modal-buttonCancelBackgroundColor) !important;
	border-radius: 8px !important;
	padding: 11px 0px !important;
	margin-right: 20px !important;
	text-transform: none !important;
	font-size: 18px !important;
}

.btn-submit {
	background-color: var(--common-modal-buttonSubmitBackgroundColor) !important;
	border: 1px solid var(--common-modal-buttonSubmitBackgroundColor) !important;
	border-radius: 8px !important;
	text-transform: none !important;
	font-size: 18px !important;
	span:first-child {
		color: #ffffff !important;
	}
}

.switch-control {
	margin-top: 10px;
	.switch-blue {
		font-family: Roboto;
		font-size: 16px;
		color: var(--common-linkColor);
		cursor: pointer;
		svg {
			margin-left: 5px;
		}
	}
}

.summary {
	border: 1px dashed var(--common-borderColor);
	border-radius: 4px;
	padding: 10px;
	.row {
		padding: 2px;
	}
}

.input-multi-send {
	height: 400px;
	border: 1px dashed var(--common-borderColor);
	border-radius: 4px;
	.textarea {
		height: 400px !important;
	}
}

.close {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	color: #f3574f;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 1px;

	&-icon {
		display: inline-block;
		height: 14px;
		width: auto;
		cursor: pointer;
		margin: 5px;
	}
}

.address-dialog {
	width: 480px;
	height: 334px;
	padding-left: 30px;
	font-weight: 500;
	font-family: Roboto;
	font-style: normal;
	line-height: 150%;
	color: var(--common-textColor);
	.address-dialog-header {
		margin-bottom: 20px;
		.title {
			height: 36px;
			font-size: 24px;
		}
	}
	.address-dialog-label {
		margin-bottom: 25px;
		.label {
			font-size: 18px;
			margin-bottom: 10px;
			height: 27px;
		}
		.input {
			width: 420px;
			height: 50px;
			border: 1px solid var(--common-borderColor);
			box-sizing: border-box;
			padding-left: 15px;
			font-size: 16px;
			border-radius: 6px;
			&::placeholder {
				color: var(--common-placeholderTextColor);
				opacity: 1; /* Firefox */
			}

			:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				color: var(--common-placeholderTextColor);
			}

			::-ms-input-placeholder {
				/* Microsoft Edge */
				color: var(--common-placeholderTextColor);
			}
		}
	}
	.address-dialog-value {
		margin-bottom: 30px;
		.address-label {
			font-size: 18px;
			margin-bottom: 5px;
			height: 27px;
		}
		.address-value {
			color: var(--common-textColor);
			font-size: 16px;
			font-weight: normal;
			height: 24px;
		}
	}
	.address-dialog-footer {
		.button-cancel {
			cursor: pointer;
			width: 200px;
			height: 50px;
			background: var(--common-containerBackgroundColor);
			border: 1px solid var(--common-modal-modalCommonBorderColor);
			box-sizing: border-box;
			border-radius: 8px;
			margin-right: 20px;
			color: var(--common-modal-modalCommonTextColor);
		}
		.button-add {
			cursor: pointer;
			width: 200px;
			height: 50px;
			background: var(--common-modal-modalCommonBackgroundColor);
			border-radius: 8px;
			color: var(--common-activeTabTextColor);
		}
	}
}

.label-exist {
	display: flex;
	flex-direction: row;
	justify-self: flex-start;
	align-items: center;
	font-weight: 500;
	font-size: 18px;
	padding-left: 2px;
	&-name {
		display: inline-block;
		margin-right: 8px;
	}
	&-icon {
		color: var(--common-modal-modalCommonTextColor);
		display: inline-flex;
		flex-direction: row;
		justify-self: flex-start;
		align-items: center;
	}
}
