.show-example {
	&-button {
		&-text {
			font-family: Roboto;
			font-size: 16px;
			color: var(--common-linkColor);
			cursor: pointer;
		}

		&-icon {
			font-family: Roboto;
			font-size: 16px;
			color: var(--common-linkColor);
			cursor: pointer;
		}
	}
}

.menu-item {
	&-text {
		display: inline-block;
		margin-left: 8px;
		font-family: Roboto;
		font-size: 16px;
		color: var(--common-textColor);
		cursor: pointer;
	}

	&-icon {
		display: inline-block;

		font-family: Roboto;
		font-size: 16px;
		color: var(--common-textColor);
		cursor: pointer;
	}
}
