@import "src/styles/utils";

.validator-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		background-color: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);

		table {
			width: 100%;
			tr {
				td:nth-child(1) {
					text-align: left;
				}
				td:nth-child(2) {
					text-align: right;
				}

				&:nth-child(1),
				&:nth-child(3) {
					td {
						padding-bottom: 10px;
					}
				}

				&:nth-child(2),
				&:nth-child(4),
				&:nth-child(5) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		.item-text {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.item-link {
			color: var(--common-linkColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.validator-data-cell {
			display: block;
			color: var(--common-linkColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;

			img {
				margin-right: 8px;
				vertical-align: middle;
			}
		}

		.voting-power-data-cell {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;

			& > span:nth-child(1) {
				display: inline-block;
				margin-right: 4px;
				color: var(--common-textColor);
			}

			& > span:nth-child(2) {
				display: inline-block;
				color: var(--common-placeholderTextColor);
			}
		}

		.cumulative-share-data-cell {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;

			.graph {
				position: relative;
				flex-basis: auto;
				flex-grow: 1;
				height: 20px;
				background-color: var(--common-containerBackgroundColor);
				border-radius: 6px;
				overflow: hidden;

				&-previous {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					background: var(--validators-cumulativeShareBarColor_1);
				}

				&-current {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					background: var(--validators-cumulativeShareBarColor_2);
				}
			}

			.total-value {
				position: relative;
				flex-basis: 85px;
				height: 100%;
				color: #181818;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 150%;
				text-align: right;
			}
		}
	}
}

.logo {
	border-radius: 50px;
}

.logo-custom {
	border-radius: 50%;
	border: 1px solid var(--validators-logo-border);
	padding: 5px;
	margin-right: 5px;
	width: 35px;
	height: 35px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
