@import "src/styles/utils";

.network-switcher {
	position: relative;
	cursor: pointer;
}

.selected-item {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 200px;
	height: 50px;
	padding: 15px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;
	cursor: pointer;
}

.text-field {
	display: inline-block;
	color: #181818;
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	flex-grow: 1;
	width: 100%;
	cursor: pointer;

	&:focus-visible {
		outline: none;
	}
}

.arrow {
	display: inline-block;
	margin-right: 8px;
	width: 11px;
	height: auto;
	color: #181818;
}

.list {
	display: none;
	position: absolute;
	left: 0;
	top: 54px;
	width: 200px;
	border-radius: 8px;
	background: #ffffff;
	z-index: 10;

	&-item {
		padding: 20px 15px;
		color: #181818;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		cursor: pointer;

		&:hover {
			background-color: #f9f9f9;
		}
	}
}
