.block-matrix {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
	grid-gap: 6px;

	&-cell {
		position: relative;
		width: 100%;
		padding-top: 100%;

		.block-icon {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.skeleton {
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 4px;
}
