@import "src/styles/utils";
.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.header-cell {
	color: var(--common-headerTextColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.validator-data-cell {
	.validator {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		&-icon {
			display: inline-block;
			width: 40px;
			height: 40px;
			object-fit: contain;
			margin-right: 8px;
		}

		&-name {
			text-align: left;
			color: var(--common-linkColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}
	}
}

.address-data-cell {
	color: var(--common-linkColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;

	&-value {
		cursor: pointer;
	}
}

.result-data-cell {
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	overflow-y: scroll;
	max-height: 100px;

	// #style-1::-webkit-scrollbar-track {
	// 	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	// 	border-radius: 10px;
	// 	background-color: #f5f5f5;
	// }

	// #style-1::-webkit-scrollbar {
	// 	width: 12px;
	// 	background-color: #f5f5f5;
	// }

	// #style-1::-webkit-scrollbar-thumb {
	// 	border-radius: 10px;
	// 	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	// 	background-color: #555;
	// }

	// &::-webkit-scrollbar {
	// 	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	// 	background-color: var(--common-containerBackgroundColor);
	// }

	// &::-webkit-scrollbar-thumb {
	// 	background-color: var(--common-containerBackgroundColor);
	// }
}

.voting-power-data-cell {
	.voting-power {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;

		&-value {
			color: var(--common-textColor);
		}

		&-percent {
			color: var(--common-placeholderTextColor);
		}
	}
}

.status-data-cell {
	.status {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		&-icon {
			display: inline-block;
			height: auto;
			margin-right: 8px;

			&-success {
				color: var(--common-resultIconSuccessColor);
				width: 16px;
			}

			&-pending {
				color: #ffae74;
				width: 16px;
			}
			&-fail {
				color: var(--common-resultIconFailureColor);
				width: 9px;
			}
		}

		&-text {
			display: inline-block;
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}
	}
}

.skeleton {
	display: inline-block;
}
