.transactions-card {
	@media screen and (min-width: 1280px) {
		margin-top: 15px;
		padding: 20px;
		background: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;
	}

	&-header {
		margin-bottom: 25px;

		.title {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
		}
	}

	&-body {
	}
}

.filter-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&-header {
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
	}
	&-body {
	}
}
