@import "src/styles/utils";

.txHashCell {
	@include Typo(Roboto, normal, 400, 14px, 21px);
	color: var(--color1);
}

.typeCell {
	@include FlexCombo(row, flex-start, center);

	button {
		@include Typo(Roboto, normal, 400, 12px, 18px);
		@include Border([ "all" ], var(--border5));
		color: var(--color7);
		border-radius: var(--radius3);
		padding: 6px 10px;
		margin-right: 4px;
	}

	span {
		@include Typo(Roboto, normal, 400, 12px, 18px);
		color: var(--color7);
	}
}

.resultCell {
	@include FlexCombo(row, flex-end, center);

	span {
		@include Typo(Roboto, normal, 400, 14px, 21px);
		color: var(--color5);
		margin-left: 4px;
	}
}

.amountCell1 {
	@include Typo(Roboto, normal, 400, 14px, 21px);
	text-align: right;
}

.amountCell2 {
	@include FlexCombo(row, flex-end, center);

	span {
		margin-right: 4px;
		@include Typo(Roboto, normal, 400, 14px, 21px);
		color: var(--color5);
	}
}

.feeCell {
	@include Typo(Roboto, normal, 400, 14px, 21px);
	text-align: right;
}

.heightCell {
	@include Typo(Roboto, normal, 400, 14px, 21px);
	text-align: right;
	color: var(--color1);
}

.timeCell {
	@include Typo(Roboto, normal, 400, 14px, 21px);
	text-align: right;
}

.id-cell {
	@include Typo(Roboto, normal, 400, 14px, 21px);
}

.title-cell {
	@include Typo(Roboto, normal, 400, 14px, 21px);
	color: var(--color1);
}

.status-cell {
	button {
		@include Typo(Roboto, normal, 400, 11px, 16.5px);

		@include FlexCombo(row, center, center);
		border-radius: var(--radius3);
		padding: 4px 10px;

		span {
			margin-left: 4px;
		}
	}

	&--success {
		color: var(--color8);
		@include Border([ "all" ], var(--border3));
	}

	&--reject {
		color: var(--color10);
		@include Border([ "all" ], var(--border4));
	}
}

.vote-cell {
	text-align: right;
	@include Typo(Roboto, normal, 400, 14px, 21px);
}

.submit-cell {
	text-align: right;
	@include Typo(Roboto, normal, 400, 14px, 21px);
}

.total-cell {
	@include FlexCombo(row, center, center);
	@include Typo(Roboto, normal, 400, 14px, 21px);

	&--id {
		margin-right: 4px;
	}

	&--content {
		color: var(--color7);
	}
}
