@import "src/styles/utils";

.choose-fee {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 3px;

	.fee-item {
		width: 31%;
		padding: 8px 10px;
		border: 1px solid var(--common-borderColor);
		border-radius: 6px;
		cursor: pointer;
		.title {
			font-family: Roboto;
			font-size: 16px;
			line-height: 150%;
			@include media("<medium") {
				font-size: 14px;
			}
		}
		.amount {
			font-family: Roboto;
			font-size: 14px;
			line-height: 150%;
			.amount-number {
				@include media("<medium") {
					display: block;
				}
			}
		}
	}

	.active {
		border: 1px solid var(--common-modal-modalCommonBorderColor);
		color: var(--common-modal-modalCommonTextColor);
		background: var(--common-buttonBackgroundColor);
	}
}
