@import "src/styles/utils";

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.header-cell {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: var(--common-headerTextColor);
}

.code-id-data-cell,
.label-data-cell {
	color: var(--common-textColor);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.address-data-cell,
.creator-data-cell,
.admin-data-cell,
.source-data-cell {
	color: var(--common-linkColor);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.skeleton {
	display: inline-block;
}
