@import "src/styles/utils";

.delegation-card {
	padding: 20px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;

	&-header {
		margin-bottom: 20px;
		color: #181818;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		letter-spacing: 0.4px;
	}

	&-body {
		position: relative;

		.no-result-wrapper {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
