@import "src/styles/utils";

.request-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		background-color: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px var(--common-boxShadowColor);
		border-radius: 8px;

		table {
			width: 100%;

			tr {
				td:nth-child(1) {
					text-align: left;
					width: 50%;
				}

				td:nth-child(2) {
					text-align: right;
					width: 50%;
				}

				&:nth-child(1) {
					td {
						padding-bottom: 10px;
					}
				}

				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		.item-text {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			word-break: break-all;

			.copy-icon {
				color: var(--common-linkColor);
				margin-right: 10px;
			}
		}

		.item-link {
			color: var(--common-linkColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			word-break: break-all;
		}
	}
}

.status {
	vertical-align: middle;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	&-icon {
		display: inline-block;
		height: auto;
		margin-right: 8px;

		&-success {
			width: 16px;
			color: var(--common-resultIconSuccessColor);
		}

		&-pending {
			width: 16px;
			color: #ffae74;
		}

		&-fail {
			width: 9px;
			color: var(--common-resultIconFailureColor);
		}
	}

	&-text {
		display: inline-block;
		color: var(--common-textColor);
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
	}
}
