@import "src/styles/utils";

.details-card {
	padding: 30px;
	margin-bottom: 20px;
	background: var(--common-containerBackgroundColor);
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;

	.title {
		margin-bottom: 20px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;

		&-tag {
			display: inline-block;
			margin-right: 8px;
			color: var(--common-textColor);
		}

		&-name {
			display: inline-block;
			margin-right: 4px;
			color: var(--common-linkColor);
		}
	}

	.api-card {
		padding: 20px;
		background: var(--common-containerBackgroundColor);
		border: 1px solid var(--common-borderColor);
		box-sizing: border-box;
		border-radius: 8px;

		&-name {
			margin-bottom: 5px;
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		&-value {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 150%;
		}

		@include media("<large") {
		}
	}

	.information-card {
		margin-top: 20px;
		border: 1px solid var(--common-borderColor);
		box-sizing: border-box;
		border-radius: 6px;

		@include media("<large") {
			border: none;
			border-top: 1px solid var(--common-borderColor);
			border-radius: 0;
		}

		&-header {
			color: var(--common-textColor);
			padding: 10px 20px;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			border-bottom: 1px solid var(--common-borderColor);
			line-height: 150%;

			@include media("<large") {
				display: none;
			}
		}

		&-body {
			padding: 20px;

			@include media("<large") {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
			}

			.information {
				padding-bottom: 18px;
				&:last-child {
					padding-bottom: 0;
				}

				&-title {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					padding-right: 20px;

					&-text {
						display: inline-block;
						margin-right: 8px;
						color: var(--common-textColor);
						font-family: Roboto;
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 150%;
					}

					&-icon {
						width: 20px;
						height: auto;
						color: var(--common-placeholderTextColor);
					}
				}

				&-value {
					.tag {
						display: inline-block;
						margin-right: 4px;
						color: var(--common-linkColor);
						font-family: Roboto;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 150%;
						cursor: pointer;
					}

					.text {
						margin-top: 5px;
						color: var(--common-textColor);
						font-family: Roboto;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 150%;
					}
				}
			}
		}
	}
}

.skeleton {
	display: inline-block;
}
