@import "src/styles/utils";

.table-container {
	background: #ffffff;
	box-shadow: var(--shadow1);
	border-radius: 8px;
}

.table {
}

.header-cell,
.data-cell {
	position: relative;
	border: 1px solid #e7e7e7;
}

.table-theme-light {
	.header-row {
		background: #f7f7f7;
	}

	.data-row {
		&:nth-child(odd) {
			background: #ffffff;
		}

		&:nth-child(even) {
			background: #f9f9f9;
		}
	}
}

.table-theme-dark {
	.header-row {
		background: #e8eeff;
	}

	.data-row {
		&:nth-child(odd) {
			background: #f9f9f9;
		}

		&:nth-child(even) {
			background: #ffffff;
		}
	}
}

@keyframes fadeIn {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes fadeOut {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(100%);
	}
}

.effect {
	&-in {
		animation-name: fadeIn;
		animation-duration: 1s;
		animation-fill-mode: both;
	}

	&-out {
		animation-name: fadeOut;
		animation-duration: 1s;
		animation-fill-mode: both;
	}
}
