@import "src/styles/utils";

.card {
	margin-bottom: 30px;
	padding: 20px;
	background: var(--common-containerBackgroundColor);
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;

	&-header {
		padding-bottom: 10px;
		color: var(--common-textColor);
		border-bottom: 1px solid var(--common-borderColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
	}

	&-body {
		padding-top: 20px;
	}
}

.address {
	&-value {
		display: inline-block;
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		word-break: break-all;
	}

	&-copy {
		display: inline-block;
		margin-left: 8px;
		color: var(--common-linkColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		cursor: pointer;
	}
}

.status {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	&-icon {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-right: 8px;

		& > svg {
			width: 16px;
			height: auto;
		}
	}

	&-text {
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		word-break: break-all;
	}

	&-success {
		.status-icon {
			color: var(--common-resultIconSuccessColor);
		}
	}

	&-fail {
		.status-icon {
			color: var(--common-resultIconFailureColor);
		}
	}

	&-pending {
		.status-icon {
			color: var(--common-resultIconPendingColor);
		}
	}
}

.height {
	color: var(--common-linkColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	word-break: break-all;
}

.time {
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}

.raw-log {
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}

.button-random {
	margin: 0 auto;
	padding: 12px 11px 12px 11px;
	width: fit-content;
	border: 1px solid var(--common-borderColor);
	border-radius: 8px;
	background: var(--common-activeTabColor);
	color: var(--common-activeTabTextColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;

	&:hover {
		cursor: pointer;
	}
}
