@import "src/styles/utils";

.TxInfo-wrapper {
	@include card-wrapper(15px);
	background-color: var(--common-containerBackgroundColor);
	padding-bottom: 0;
	@include media("<medium") {
		padding-bottom: 0;
	}
	.title {
		@include Card-title;
		color: var(--common-textColor);
		border-bottom: 1px solid var(--common-borderColor);
	}
	.grid-wrapper {
		margin: 15.5px 0 20px;
		.status-img {
			height: 12px;
			width: 12px;
			font-size: 10px;
			overflow: visible;
			object-fit: cover;
			margin-right: 4px;
		}
	}
}

.blueColor {
	color: var(--common-linkColor);
}

.BNBcolor {
	color: var(--colorBNB);
}

.txHash-copy {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
}
