.dropdown-validators .MuiButtonBase-root {
	padding: 20px 40px;
	color: #181818;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	justify-content: center;
}

.dropdown-validators .MuiList-padding {
	padding: 0;
}

.dropdown-validators .MuiPaper-root {
	width: 130px;
	height: auto;
	color: #181818;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	padding: 0;
}
