@import "src/styles/utils";
.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.header-cell {
	color: #546a8a;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.skeleton-data-cell {
	box-sizing: border-box;
	height: 32px;
}

.parent-hash-data-cell {
	color: #1b57f0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.type-data-cell {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	.first-message-type {
		padding: 6px 10px;
		margin-right: 5px;
		border: 1px solid #5f51ff;
		box-sizing: border-box;
		border-radius: 4px;
		color: #5f51ff;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 150%;
	}

	.number-of-message {
		color: #5f51ff;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 150%;
	}
}

.result-data-cell {
	display: flex;
	flex-direction: row;
	justify-content: center;

	img {
		margin-right: 9px;
	}
}

.amount-data-cell {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	p {
		margin-right: 8px;
	}

	span:nth-child(1) {
		padding-right: 4px;
	}

	span:nth-child(2) {
		text-transform: uppercase;
	}
}

.fee-data-cell {
	span:nth-child(1) {
		padding-right: 4px;
	}

	span:nth-child(2) {
		text-transform: uppercase;
	}
}

.time-data-cell,
.height-data-cell {
	display: block;
	color: #181818;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.claim-btn {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #1b57f0;
	border: 1px solid #1b57f0;
	border-radius: 4px;
	padding: 7px 14px;
	display: flex;
	width: 92px;
	cursor: pointer;
	svg {
		margin-left: 7px;
	}
}
