@import "src/styles/utils";

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.header-cell {
	color: var(--common-linkColor);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}


.logo-brand-custom {
	display: flex;
	align-items: center;
}


.name-data {
	padding-left: 13px;
}

.denom {
    text-transform: uppercase;
}

.channel {
	color: #89909b;
}

.logo-custom {
	border-radius: 50%;
	border: 1px solid var(--validators-logo-border);
	padding: 5px;
	margin-right: 5px;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}
