@import "src/styles/utils";

.transaction-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		background-color: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;

		table {
			width: 100%;

			tr {
				td:nth-child(1) {
					text-align: left;
					width: 50%;
				}

				td:nth-child(2) {
					text-align: right;
					width: 50%;
				}

				&:nth-child(1) {
					td {
						padding-bottom: 10px;
					}
				}

				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		.item-text {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.item-link {
			color: var(--common-linkColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.type-data-cell {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			.first-message-type {
				padding: 6px 10px;
				margin-right: 5px;
				border: 1px solid var(--common-transactions-transactionTypeLabelColor);
				background-color: var(--common-transactions-transactionTypeBackgroundColor);
				color: var(--common-transactions-transactionTypeTextColor);
				box-sizing: border-box;
				border-radius: 4px;
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 150%;

				@media (max-width: 400px) {
					max-width: 180px;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}

			.number-of-message {
				color: var(--common-transactions-transactionTypeLabelColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 150%;
			}
		}

		.result-data-cell {
			.result {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				&-icon {
					margin-right: 9px;
					width: 16px;
					height: auto;

					&-success {
						color: var(--common-resultIconSuccessColor);
					}

					&-failed {
						color: var(--common-resultIconFailureColor);
					}

					&-pending {
						color: var(--common-resultIconPendingColor);
					}
				}

				&-text {
					color: var(--common-textColor);
					font-family: 'IBM Plex Sans';
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 150%;
				}
			}
		}

		.amount-data-cell {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			&-with-transfer-status {
				justify-content: space-between;
			}

			.more {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				&-text {
					display: inline-block;
					margin-right: 8px;
					color: var(--common-textColor);
					font-family: 'IBM Plex Sans';
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150%;
				}

				&-icon {
					display: inline-block;
					color: var(--common-transactions-moreIconColor);
				}
			}
			.amount {
				color: var(--common-textColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;

				&-value {
					padding-right: 4px;
				}

				&-denom {
					text-transform: uppercase;
				}

				&-usd {
					padding-left: 4px;
				}
			}

			.transfer-status {
				display: block;
				padding: 7px;
				min-width: 40px;
				text-align: center;
				border-radius: 4px;
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: bold;
				font-size: 11px;
				line-height: 150%;

				&-in {
					background: var(--common-transactions-amountTransactionBackgroundInColor);
					color: var(--common-transactions-amountTransactionTextInColor);
					border: 1px solid var(--common-transactions-amountTransactionLabelInColor);
				}

				&-out {
					background: var(--common-transactions-amountTransactionBackgroundOutColor);
					color: var(--common-transactions-amountTransactionTextOutColor);
					border: 1px solid var(--common-transactions-amountTransactionLabelOutColor);
				}
			}
		}

		.fee-data-cell {
			.fee {
				color: var(--common-textColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;

				&-value {
					padding-right: 4px;
				}

				&-denom {
					text-transform: uppercase;
				}

				&-usd {
					padding-left: 4px;
				}
			}
		}
	}
}
