.card {
	box-shadow: 0 0.3rem 0.6rem 0 rgb(0 0 0 / 16%);
	border-radius: 4px;
	background: var(--common-containerBackgroundColor);
	height: 90px;
	padding: 13px 32px 16px 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: var(--common-textColor);

	&-value,
	&-sub-value {
		align-self: flex-end;
	}

	.card-status-label-state {
		background: #fff;
		border-radius: 16px;
		padding: 0 10px;
		width: fit-content;
		font-size: 12px;
	}

	.card-sub-value.status,
	.card-value.status {
		color: #fff;
	}
}

.channel-info {
	margin-top: 15px;
	padding: 24px;
	border-radius: 4px;
	box-shadow: 0 0.3rem 0.6rem 0 rgb(0 0 0 / 16%);

	.channel-container {
		height: 252px;
		border: 0.1rem solid #e6e6e6;
		border-radius: 8px;
		padding: 10px 15px;

		.channel-header {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&-info {
				display: flex;
			}

			&-status {
				border-radius: 8px;
				color: var(--common-textColor);
			}
		}
	}
}
