@import "src/styles/utils";

.Dropdown-wrapper {
	display: none;
	margin-top: 5px;
	border-radius: 5px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
	background-color: var(--common-blockItemBackgroundColor);
	max-height: 280px;
	overflow-y: auto;
	> * {
		padding: 10px 10px 10px 12px;
	}
	li {
		cursor: pointer;

		&.selected {
			background-color: var(--common-blockItemBackgroundColor);
		}

		display: flex;
		align-items: center;
		height: 40px;
		width: 100%;
		> :first-child {
			margin-right: 8px;
		}
		.content {
			font-family: "Open Sans", serif;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.36;
			letter-spacing: normal;
			text-align: left;
			color: var(--common-textColor);

			display: flex;
			.name {
				margin-left: 3px;
				color: var(--common-placeholderTextColor);
			}
		}
	}
	.defaultText {
		display: none;
		:first-child {
			font-weight: 400;
			color: var(--common-placeholderTextColor);
			margin-right: 3px;
		}
		.input {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans', serif;
		}
		span {
			img {
				height: 100%;
				width: auto;
				object-fit: fill;
			}
		}
	}
	.showCursor {
		cursor: pointer;
	}
}

.visible {
	display: block !important;
}
