@import "src/styles/utils";

.proposals {
	margin-top: 0;
	margin-bottom: 30px;
	@media (min-width: 1279px) {
		margin-top: 30px;
	}

	.filter-section {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-top: 30px;
		margin-bottom: 20px;
	}
}
