@import "src/styles/utils";

.proposals {
	margin-top: 0;
	margin-bottom: 30px;

	@media (min-width: 1279px) {
		margin-top: 30px;
	}

	.filter-section {
		margin-top: 0;
	}
}

.create-button,
.submit-button {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 10px;
	background: var(--common-buttonBackgroundColor);
	border: 1px solid var(--common-activeTabColor);
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;

	&-text {
		display: inline-block;
		color: var(--common-buttonTextColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
	}

	&-icon {
		width: 12px;
		height: auto;
		color: var(--common-buttonTextColor);
	}
}

.dialog-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	padding: 16px;
}

.dialog-body {
	padding: 16px;
}

.dialog-footer {
	padding-top: 8px;
	padding-bottom: 32px;
	text-align: center;
}

.close-button {
	display: inline-block;
	cursor: pointer;
}

.field {
	position: relative;
	margin-bottom: 40px;
}

.label {
	display: block;
	margin-bottom: 10px;
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
}

.message {
	display: block;
	margin-bottom: 16px;
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
}

.error-message {
	position: absolute;
	bottom: -32px;
	display: block;
	color: #f44336;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
}

.text-field {
	display: block;
	width: 100%;
	padding: 13px 15px;
	color: var(--common-textColor);
	border: 1px solid #405d78;
	box-sizing: border-box;
	border-radius: 6px;
	background: var(--common-blockItemBackgroundColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;

	&:focus-visible {
		outline: none;
	}
}

.editor-wrapper {
	border: 1px solid #405d78;
	border-radius: 6px;

	:global(.rdw-editor-main) {
		height: 300px;
	}

	:global(.rdw-editor-toolbar) {
		color: black;
	}

	:global(.rdw-image-modal) {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.fee {
	margin-bottom: 8px;
}

.gas {
	margin-bottom: 16px;
}
