@import "src/styles/utils";

.proposals {
	margin-bottom: 24px;
	margin-top: 30px;

	@include media("<medium") {
		margin-top: 0;
	}
}

.validator-list {
	margin-top: 30px;
	width: 1200px;
	padding: 0px;
}
.detail-section {
	margin-bottom: var(--verticalSpace1);
}

.board-list {
	margin-top: 24px;
	margin-bottom: 40px;
	@include FlexCombo(row, space-between, flex-start);
}

.board {
	width: 280px;
	box-sizing: border-box;
	background: var(--colorWhite);
	border-radius: var(--radius1);
	padding: 20px;

	&__badge {
		@include FlexCombo(row, space-between, center);
		margin-bottom: 20px;

		&-text {
			color: var(--color7);
			@include Typo(Roboto, normal, 400, 14px, 21px);
		}

		button {
			cursor: pointer;
			padding: 4px 10px;
			border-radius: var(--radius3);
			color: var(--color8);
			@include Border([ "all" ], var(--border3));
			@include FlexCombo(row, center, center);
			@include Typo(Roboto, normal, 400, 11px, 16.5px);

			svg {
				path {
					fill: var(--color8);
				}
			}
		}
	}

	&__title {
		@include Typo(Roboto, normal, 500, 16px, 24px);
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		margin-bottom: 10px;
	}

	&__proposer {
		@include FlexCombo(row, space-between, center);
		margin-bottom: 10px;

		&-title {
			@include Typo(Roboto, normal, 500, 14px, 21px);
		}

		&-content {
			@include Typo(Roboto, normal, 400, 14px, 21px);
			color: var(--color1);
		}
	}

	&__vote {
		@include FlexCombo(row, space-between, center);
		margin-bottom: 10px;

		&-title {
			@include Typo(Roboto, normal, 500, 14px, 21px);
		}

		&-content {
			@include Typo(Roboto, normal, 400, 14px, 21px);
		}

		&--last {
			margin-bottom: 20px;
		}
	}

	&__progress {
		height: 21px;
		border-radius: var(--radius3);
		background: var(--color9);
		overflow: hidden;
		margin-bottom: 15px;

		&-run {
			background: var(--color3);
			height: 100%;
		}
	}

	&__more {
		@include FlexCombo(row, space-between, center);
		margin-bottom: 5px;

		&-title {
			@include Typo(Roboto, normal, 500, 14px, 21px);
		}

		&-content {
			@include FlexCombo(row, flex-start, center);
			@include Typo(Roboto, normal, 400, 14px, 21px);
			color: var(--color1);

			span {
				margin-right: 4px;
			}

			svg {
				path {
					fill: var(--color1);
				}
			}
		}
	}

	&__percent {
		@include FlexCombo(row, flex-start, center);

		&-circle {
			width: 12px;
			height: 12px;
			border-radius: 100%;
			background: var(--color3);
			margin-right: 8px;
		}

		&-content {
			@include Typo(Roboto, normal, 400, 14px, 21px);
		}
	}
}

.switch-tab {
	@include FlexCombo(row, flex-end, center);
	margin-bottom: 20px;

	&__list {
		@include FlexCombo(row, flex-end, center);
		@include Border([ "all" ], var(--border2));
		border-radius: var(--radius1);
		background: var(--colorWhite);
		overflow: hidden;
	}

	&__item {
		padding: 10px 50px;
		cursor: pointer;
		@include Typo(Roboto, normal, 500, 14px, 21px);
		@include FlexCombo(row, center, center);
	}

	&__item.active {
		background: var(--color1);
		color: var(--colorWhite);
	}
}
