@import "src/styles/utils";

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.header-cell {
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: var(--common-headerTextColor);
}

.test-case-data-cell,
.description-data-cell,
.request-data-cell {
	color: var(--common-textColor);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.fee-data-cell {
	.fee {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		color: var(--common-textColor);
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;

		&-value {
			display: inline-block;
			padding-right: 4px;
		}

		&-denom {
			color: var(--common-oraiDenomTextColor);
			display: inline-block;
			text-transform: uppercase;
		}
	}
}

.owner-data-cell {
	.owner {
		display: inline-block;
		color: var(--common-linkColor);
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
	}
}

.contract-data-cell {
	.contract {
		display: inline-block;
		color: var(--common-linkColor);
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
	}
}

.skeleton {
	display: inline-block;
}
