@import "src/styles/utils";

.test-case-card {
	padding: 0;
	background: transparent;
	box-shadow: none;
	height: 100%;

	@media screen and (min-width: 1280px) {
		padding: 20px;
		background: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;
	}

	&-header {
		margin-bottom: 20px;
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		letter-spacing: 0.4px;
	}

	&-body {
	}
}
