@import "src/styles/utils";

.validator-list {
	margin-top: 0;
	margin-bottom: 50px;

	@media (min-width: 979px) {
		margin-top: 30px;
	}
}

.filter-section {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
	align-items: baseline;
}

.mr-18px {
	margin-right: 18px;
}
