@import "src/styles/utils";

.validator-list {
	margin-top: 0;
	margin-bottom: 50px;

	@media (min-width: 979px) {
		margin-top: 30px;
	}
}

.filter-section {
	position: relative;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 30px;
	@include media("<medium") {
		display: block;
	}

	&-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
	}

	.button {
		color: var(--validators-deletegateButtonTextColor);
		background: var(--validators-selectBackgroundBtn);
		border: 1px solid var(--validators-deletegateButtonBorderColor);

		display: inline-block;
		padding: 8px 16px;
		border-radius: 6px;
		font-family: "IBM Plex Sans";
		font-size: 16px;
		cursor: pointer;
		margin-left: 5px;
		@include media("<medium") {
			font-size: 14px;
		}

		&:hover {
			color: #ffffff;
			background: #5345a9;
			border-color: #5345a9;
		}

		&-active {
			margin-left: 15px;
		}

		&-is-active {
			background: var(--validators-selectActiveBackgroundBtn);
			color: var(--common-activeTabTextColor);
		}
	}
}

.mr-18px {
	margin-right: 18px;
	@include media("<medium") {
		display: flex;
		margin-right: 0px;
	}
	button {
		@include media("<medium") {
			width: 50%;
		}
	}
}

.search-validators {
	width: 30%;
	@include media("<medium") {
		width: 100%;
	}

	button {
		position: absolute;
		right: 18px;
		top: 13px;
	}
}
