@import "src/styles/utils";

.smart-contracts {
	margin-top: 0;
	margin-bottom: 30px;

	@include media(">=large") {
		margin-top: 30px;
	}
}

.status {
	padding: 0;
}

.filter-section {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 20px;
}

.search-input {
	width: 100%;

	@include media(">=large") {
		width: initial;
	}
}
