@import "src/styles/utils";

.nav-link {
	display: inline-block;
	padding: 22px 15px;
	color: white;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	cursor: pointer;

	@include media(">=large") {
		color: #ffffff;
	}
}

.dropdown {
	position: relative;
	color: white;
	font-size: 1rem;

	&-toggle {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		height: 70px;
		padding-left: 16px;

		&-text {
			margin-right: 8px;
		}

		&-icon {
		}
	}

	.dropdown-content {
		position: fixed;
		top: 15px;
		left: 15px;
		right: initial;
		width: calc(100vw - 2 * 15px);
		display: none;
		padding: 20px;
		padding-left: 16px;
		padding-right: 16px;
		background-color: #f9f9f9;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;

		@include media(">=large") {
			position: absolute;
			top: 70px;
			left: initial;
			right: 0px;
			width: 500px;
		}
	}

	&:hover {
		.dropdown-content {
			display: block;
		}
	}
}

.wallet {
	&-name {
		margin-bottom: 15px;
		color: #000000;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
	}

	&-address {
		margin-bottom: 10px;

		&-title {
			&-text {
				display: inline-block;
				margin-right: 8px;
				color: #000000;
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;
			}

			&-icon {
				color: #008bd9;
			}
		}

		&-value {
			color: #000000;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			word-break: break-all;
		}
	}

	&-balance {
		margin-bottom: 10px;

		&-title {
			display: inline-block;
			margin-right: 8px;
			color: #000000;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
		}

		&-value {
			color: #000000;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}
	}

	&-button {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		color: #00b1e9;
		cursor: pointer;

		&-icon {
			width: auto;
			height: 16px;
		}

		&-text {
			display: inline-block;
			margin-left: 8px;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}
	}
}

.button-group {
}

.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 6px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	height: 40px;
	text-align: center;
	cursor: pointer;

	&-fill {
		color: #ffffff;
		background: #00b1e9;
	}

	&-outline {
		color: #00b1e9;
		background: #ffffff;
		border: 1px solid #00b1e9;
	}
}
