@import "src/styles/utils";

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.validator-data-cell,
.height-data-cell {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.validator-data-cell {
	color: var(--common-linkColor);
}

.height-data-cell {
	color: var(--common-textColor);
}

.amount-data-cell {
	.amount {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;

		&-value {
			display: inline-block;
			margin-right: 4px;
			color: var(--common-textColor);
		}

		&-denom {
			display: inline-block;
			color: var(--common-oraiDenomTextColor);
		}
	}
}

.completion-time-data-cell {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 150%;

	.date-time {
		color: var(--common-textColor);
	}

	.remaining {
		color: var(--common-placeholderTextColor);
	}
}

.skeleton {
	&-block {
		display: block;
		width: 100%;
	}

	&-inline-block {
		display: inline-block;
	}
}
