.chart-card {
	height: 100%;
	padding: 20px;
	background: var(--common-containerBackgroundColor);
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;
	fill: var(--common-textColor);

	&-header {
		margin-bottom: 22px;
		text-align: center;

		.total-orai {
			&-label {
				color: var(--common-textColor);
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 150%;
			}

			&-value {
				color: var(--common-textColor);
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;
			}
		}
	}

	&-body {
		margin-bottom: 30px;
		text-align: center;
	}

	&-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		.chart-comment-group {
			display: inline-flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			.chart-comment {
				display: inline-flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				&:first-child {
					margin-bottom: 15px;
				}

				&-icon {
					width: 12px;
					height: 12px;
					margin-right: 10px;
					border-radius: 100%;
					background-color: #8f9ca1;
				}

				&-label {
					color: var(--common-textColor);
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 150%;
				}

				&-value {
					color: var(--common-textColor);
					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 150%;
				}
			}
		}
	}
}

.skeleton {
	display: inline-block;
}
