@import "src/styles/utils";

.test-case-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		background-color: #ffffff;
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);

		table {
			width: 100%;
			tr {
				td:nth-child(1) {
					text-align: left;
				}
				td:nth-child(2) {
					text-align: right;
				}

				&:nth-child(1) {
					td {
						padding-bottom: 10px;
					}
				}

				&:nth-child(2),
				&:nth-child(3) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: #181818;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			white-space: nowrap;
		}

		.item-text {
			color: #181818;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.item-link {
			color: #1b57f0;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}
	}
}

.fee {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: #181818;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;

	&-value {
		display: inline-block;
		padding-right: 4px;
	}

	&-denom {
		display: inline-block;
		text-transform: uppercase;
	}
}

.skeleton {
	display: inline-block;
}
