@import "src/styles/utils";

.unbonding-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		background-color: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;

		table {
			width: 100%;

			tr {
				td:nth-child(1) {
					text-align: left;
				}

				td:nth-child(2) {
					text-align: right;
				}

				&:nth-child(1) {
					td {
						padding-bottom: 15px;
					}
				}

				&:nth-child(2) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		.item-text {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.item-link {
			color: var(--common-linkColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.amount {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;

			&-value {
				display: inline-block;
				margin-right: 4px;
				color: var(--common-textColor);
			}

			&-denom {
				display: inline-block;
				color: var(--common-oraiDenomTextColor);
			}
		}

		.completion-time {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 150%;

			.date-time {
				color: var(--common-textColor);
			}

			.remaining {
				color: #9a9a9a;
			}
		}
	}
}

.skeleton {
	&-block {
		display: block;
	}

	&-inline-block {
		display: inline-block;
	}
}
