@import "src/styles/utils";

.transaction-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		background-color: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px var(--common-boxShadowColor);
		border-radius: 8px;

		table {
			width: 100%;
			tbody tr td {
				padding: 0 !important;
			}
			tr {
				td:nth-child(1) {
					text-align: left;
					width: 50%;
				}

				td:nth-child(2) {
					text-align: right;
					width: 50%;
				}

				&:nth-child(1),
				&:nth-child(2) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		.item-text {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.item-link {
			color: var(--common-linkColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.type-data-cell {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			.first-message-type {
				padding: 6px 10px;
				margin-right: 5px;
				border: 1px solid var(--common-transactions-transactionTypeLabelColor);
				box-sizing: border-box;
				border-radius: 4px;
				background: var(--common-transactions-transactionTypeBackgroundColor);
				color: var(--common-transactions-transactionTypeTextColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 150%;
			}

			.number-of-message {
				color: var(--common-transactions-transactionTypeLabelColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 150%;
			}
		}

		.result-data-cell {
			.result {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;

				&-icon {
					margin-right: 9px;
				}

				&-text {
					color: var(--common-textColor);
					font-family: 'IBM Plex Sans';
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150%;
				}
			}
		}

		.amount-data-cell {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			&-with-transfer-status {
				justify-content: space-between;
			}

			.more {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				&-text {
					display: inline-block;
					margin-right: 8px;
					color: var(--common-textColor);
					font-family: 'IBM Plex Sans';
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150%;
				}

				&-icon {
					display: inline-block;
				}
			}

			.amount {
				color: var(--common-textColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;

				&-value {
					padding-right: 4px;
				}

				&-denom {
					text-transform: uppercase;
				}

				&-usd {
					padding-left: 4px;
				}
			}

			.transfer-status {
				display: block;
				padding: 7px;
				border-radius: 4px;
				background: var(--common-containerBackgroundColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: bold;
				font-size: 11px;
				line-height: 150%;

				&-in {
					color: #3fcc28;
					border: 1px solid #3fcc28;
				}

				&-out {
					color: #f98442;
					border: 1px solid #f98442;
				}
			}
		}

		.fee-data-cell {
			.fee {
				color: var(--common-textColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;

				&-value {
					padding-right: 4px;
				}

				&-denom {
					text-transform: uppercase;
				}

				&-usd {
					padding-left: 4px;
				}
			}
		}
	}
}

.skeleton {
	&-inline-block {
		display: inline-block;
	}
}
