@import "src/styles/utils";

.card {
	margin-bottom: 30px;
	padding: 20px;
	background: var(--common-containerBackgroundColor);
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;

	&-header {
		padding-bottom: 10px;
		color: var(--common-textColor);
		border-bottom: 1px solid var(--common-borderColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
	}

	&-body {
		padding-top: 20px;
	}
}

.height {
	color: var(--common-linkColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}

.block-time {
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}

.hash {
	&-value {
		display: inline-block;
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		word-break: break-all;
	}

	&-copy {
		display: inline-block;
		margin-left: 8px;
		color: var(--common-linkColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		cursor: pointer;
	}
}

.tx-number {
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;

	&-value {
		padding-right: 4px;
	}

	&-denom {
		text-transform: uppercase;
	}
}

.moniker {
	color: var(--common-linkColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}
