@import "src/styles/utils";

.bsc-link {
	display: none;
}

.price-feeds {
	margin-top: 20px;
	padding: 30px;
	background: var(--common-containerBackgroundColor);
	box-shadow: 0 2px 8px var(--common-boxShadowColor);
	border-radius: 8px;

	&-header {
		margin-bottom: 25px;

		&-name {
			margin-right: 8px;
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-size: 20px;
			font-weight: 500;
			line-height: 150%;
			color: var(--common-textColor);
		}
	}

	&-card {
		&-skeleton {
			width: 100%;
		}

		height: 100%;
		padding: 20px;
		color: var(--common-textColor);
		background: var(--common-containerBackgroundColor);
		border: 1px solid var(--common-borderColor);
		box-sizing: border-box;
		border-radius: 8px;

		&:hover {
			background: var(--price-feed-hover);
		}

		&-pair {
			display: flex;
			flex-direction: row;
			align-items: center;

			&-icon {
				margin-right: 10px;
				width: 24px;
				height: 24px;
			}

			&-text {
				color: var(--common-textColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 150%;
				word-break: break-all;
			}
		}

		&-price {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			margin-top: 15px;
			cursor: pointer;
		}

		&-info {
			display: flex;
			flex-direction: column;
			// justify-content: space-between;

			&-item {
				margin-top: 6px;

				&-header {
					color: var(--common-textColor);
					font-family: 'IBM Plex Sans';
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150%;
				}

				&-wrap {
					display: flex;
					justify-content: space-between;

					&-body {
						display: flex;
						flex-direction: row;
						align-items: center;
						color: var(--common-textColor);
						font-family: 'IBM Plex Sans';
						font-style: normal;
						font-weight: normal;
						font-size: 14px;
						line-height: 150%;

						.status-icon {
							margin-right: 10px;
							width: 16px;
							height: 16px;

							&-active {
								color: var(--common-resultIconSuccessColor);
							}

							&-inactive {
								color: var(--common-resultIconFailureColor);
							}
						}

						.status-text {
							color: var(--common-textColor);
							font-family: 'IBM Plex Sans';
							font-style: normal;
							font-weight: normal;
							font-size: 16px;
							line-height: 150%;
						}
					}
				}
			}
		}
	}
}

.skeleton {
	display: inline-block;
}
