.loading-background {
	background: rgba(0, 0, 0, 0.65);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	cursor: progress;
}

.loading-bar {
	// border: 16px solid #f3f3f3;
	// border-radius: 50%;
	// border-top: 16px solid #3498db;
	// width: 70px;
	// height: 70px;
	// animation: spin 2s infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 99999;
	color: #22ffea;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
