@import "src/styles/utils";

@mixin font-delegate {
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	@include media("<medium") {
		font-size: 14px;
	}
}

.tx {
	padding: 20px;
}

.title {
	font-family: "Roboto", serif;
	font-size: 25px;
	font-weight: 500;
	line-height: 150%;
	color: var(--common-textColor);
	margin-bottom: 20px;
}
