@import "src/styles/utils";

.btn {
	display: inline-block;
	padding: 8px 16px;
	border-radius: 6px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	cursor: pointer;
	user-select: none;
}

.btn-primary {
	color: #ffffff;
	background: #00b1e9;
}

.btn-outline-primary {
	color: #008bd9;
	background: #ffffff;
	border: 1px solid #008bd9;

	&:hover {
		color: #ffffff;
		background: #00b1e9;
		border-color: #00b1e9;
	}
}

.btn-outline-secondary {
	padding: 8px 16px;
	color: #6c757d;
	background: #ffffff;
	border: 1px solid #6c757d;
	cursor: pointer;

	&:hover {
		color: #ffffff;
		background: #6c757d;
		border-color: #6c757d;
	}
}

.label {
	color: #000000;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
}

.text-field {
	display: block;
	width: 100%;
	padding: 8px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	color: #000000;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
	border-radius: 6px;
	outline: none;

	&:focus {
		outline: none;
	}
}

.space-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.m-2 {
	margin: 8px;
}

.form-field {
	position: relative;
	padding-bottom: 32px;
}

.error-message {
	position: absolute;
	top: 46px;
	left: 0;
	color: #dc3545;
}

.delegate-title {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
}

.balance-title {
	font-family: Roboto;
	font-weight: 500;
	font-size: 18px;
	margin-top: 10px;
}

.balance-row {
	.left {
		font-family: Roboto;
		font-size: 18px;
		margin-top: 5px;
		text-transform: uppercase;
	}
	.right {
		font-family: Roboto;
		font-size: 18px;
		margin-top: 5px;
		display: flex;
		align-items: center;
		.dollar {
			margin-left: 5px;
		}
	}
}

.tab-wrapper {
	display: flex;
	flex-flow: row;
	padding: 30px;

	:nth-child(1) {
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
	}

	:nth-child(2) {
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
	}

	button {
		width: 50%;
		height: 100%;
		border: solid 1px #222222;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #1b57f0;
		cursor: pointer;

		p {
			font-family: "Open Sans", serif;
			font-size: 18px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.36;
			letter-spacing: normal;
			text-align: left;
			color: #000;
			padding: 10px;
			font-weight: 500;
		}

		&.selected {
			background: #1b57f0;

			p {
				color: #ffffff;
			}
		}
	}
}
