@import "src/styles/utils";

.table-link {
	color: #1b57f0;
}

.text-right {
	text-align: right;
}

.request-th-cell {
	margin-bottom: -10px;
}

.request {
	text-align: right;
	color: #181818;
	font-weight: 500;
}
.response-time {
	text-align: right;
	color: #b3b3b3;
	font-weight: 400;
}

.oracle-script-card-list {
	margin-bottom: 20px;
	margin-top: 10px;
}
.card-item {
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;
	padding: 15px 20px 20px 20px;

	.ordering {
		color: #1b57f0;
	}
	.title {
		font-weight: 500;
		color: #000000;
		margin-top: 5px;
	}
	.content {
		margin-top: 5px;
		margin-bottom: 10px;
		height: 44px;
	}
	.request {
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
		.request-key {
			color: #000000;
			margin-top: 5px;
		}
		.request-value {
			font-weight: normal;
			color: #181818;
		}
	}

	@include media("<large") {
		.ordering,
		.content,
		.request-key,
		.request-value {
			font-size: 16px;
		}
		.title {
			font-size: 19px;
		}
	}
}
