@import "src/styles/utils";

.request-card {
	padding: 20px;
	margin-bottom: 20px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;

	&-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 20px;
	}
}

.request {
	font-family: Roboto;
	font-style: normal;
	font-size: 20px;
	line-height: 150%;

	&-name {
		display: inline-block;
		margin-right: 8px;
		color: #000000;
		font-weight: 500;
	}

	&-value {
		display: inline-block;
		color: #9a9a9a;
		font-weight: normal;
	}
}

.button {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 8px;
	border: 1px solid #1b57f0;
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;

	&-text {
		display: inline-block;
		margin-right: 8px;
		color: #1b57f0;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		text-align: center;
	}

	&-icon {
		display: inline-block;
		color: #1b57f0;
	}
}
