@import "src/styles/utils";

.container {
	padding: 25px 20px;
	border-radius: var(--radius1);
	background-color: var(--colorWhite);
}

.head-table {
	margin-bottom: 25px;
	@include FlexCombo(row, space-between, center);

	button {
		padding: 8px 10px;
		@include Border([ "all" ], var(--border2));
		@include FlexCombo(row, center, center);
		border-radius: var(--radius3);
		color: var(--color1);
		cursor: pointer;

		svg {
			margin-left: 5px;
			path {
				fill: var(--color1);
			}
		}
	}
}

.request {
	@include FlexCombo(row, flex-start, center);

	strong {
		@include Typo(Roboto, normal, 500, 20px, 30px);
		margin-right: 4px;
	}

	span {
		@include Typo(Roboto, normal, 400, 20px, 30px);
		color: var(--color2);
	}
}

.request-cell {
	color: var(--color1);
	@include Typo(Roboto, normal, 400, 14px, 21px);
}

.oracle-script {
	@include Typo(Roboto, normal, 500, 14px, 21px);

	span {
		color: var(--color1);
		margin-right: 4px;
	}
}

.report-status {
	&__title {
		@include FlexCombo(row, space-between, center);
		@include Typo(Roboto, normal, 400, 14px, 21px);
		margin-bottom: 5px;
	}

	&__progress-bar {
		height: 15px;
		border-radius: var(--radius3);
		background: var(--color3);

		&--not-full {
			background: var(--color4);
		}
	}
}

.status {
	@include FlexCombo(row, flex-start, center);

	span {
		@include Typo(Roboto, normal, 400, 14px, 21px);
		color: var(--color5);
		margin-left: 4px;
	}
}

.owner {
	@include Typo(Roboto, normal, 400, 14px, 21px);
	color: var(--color1);
}

.code {
	@include FlexCombo(row, flex-start, center);

	strong {
		@include Typo(Roboto, normal, 500, 20px, 30px);
		margin-right: 5px;
	}
}

.code-format {
	background: var(--color6);
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
}
