@import "src/styles/utils";
.request-report-details {
	margin-top: 30px;
	width: 1220px;
	padding: 0px;
	@include media("<medium") {
		width: 90%;
	}
}

.detail-section {
	margin-bottom: var(--verticalSpace1);
}

.data-request-table {
	padding: 20px 20px;
	// background-color: var(--common-backgroundColor);
	color: var(--common-buttonTextColor);
	box-shadow: 0px 2px 8px var(--common-boxShadowColor);
	box-sizing: border-box;
	border-radius: var(--radius1);

	&__title {
		@include Typo('IBM Plex Sans', normal, 500, 20px, 30px);
		margin-bottom: 20px;

		span {
			color: var(--color1);
		}
	}

	&__info {
		border: 1px solid var(--common-borderColor);
		border-radius: var(--radius1);
		background: var(--common-themedTable-oddRowBackgroundColor);

		&-head {
			border-bottom: 1px solid var(--common-borderColor);
			padding: 15px 20px;
			@include Typo('IBM Plex Sans', normal, 500, 16px, 24px);
		}

		&-code {
			padding: 15px 20px;
			border-bottom: 1px solid var(--common-borderColor);

			&-item {
				@include FlexCombo(row, flex-start, center);

				@include media("<medium") {
					display: block;
				}

				margin-bottom: 15px;

				&-title {
					color: var(--common-textColor);
					width: 110px;
					@include Typo('IBM Plex Sans', normal, 500, 16px, 24px);
				}

				&-content {
					// margin-left: 43px;
					@include Typo('IBM Plex Sans', normal, 400, 16px, 24px);
					color: var(--common-textColor);

					@include media("<medium") {
						margin-left: 0px;
						margin-top: 5px;
					}

					&-type1 {
						color: var(--common-linkColor);
						span {
							margin-right: 4px;
						}
					}

					&-type2 {
						color: var(--color1);
					}

					&-type3 {
						span {
							color: var(--color1);
							margin-left: 4px;
						}
					}
				}
			}
		}

		&-chart {
			@include FlexCombo(row, space-between, center);

			&-left {
				padding: 20px;

				&-status {
					@include FlexCombo(row, flex-start, center);
					margin-bottom: 15px;

					&-title {
						@include FlexCombo(row, flex-start, center);
						@include Typo('IBM Plex Sans', normal, 500, 16px, 24px);
						width: 114px;
						margin-right: 15px;
					}

					&-success {
						@include FlexCombo(row, flex-start, center);
					}

					&-fail {
						@include FlexCombo(row, flex-start, center);
					}
				}

				&-report {
					@include FlexCombo(row, flex-start, center);
					margin-bottom: 25px;

					&-title {
						@include FlexCombo(row, flex-start, center);
						@include Typo('IBM Plex Sans', normal, 500, 16px, 24px);
						width: 114px;
						margin-right: 15px;
					}

					&-success {
						@include FlexCombo(row, flex-start, center);
					}
				}

				&-chartbox {
					@include FlexCombo(row, center, center);
					background: var(--color6);
					border-radius: var(--radius2);
					padding: 20px;
					box-sizing: border-box;

					&-info {
						margin-right: 27px;

						&-tab1 {
							@include FlexCombo(row, center, center);
						}

						&-tab2 {
							@include FlexCombo(row, center, center);
						}
					}
				}
			}
			&-middle {
			}
			&-right {
			}
		}
	}

	.test-cases {
		display: flex;
		align-items: center;
		svg {
			margin-left: 5px;
		}
	}

	.status {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		&-icon {
			display: inline-block;
			height: auto;
			margin-right: 8px;

			&-success {
				width: 16px;
				color: var(--common-resultIconSuccessColor);
			}

			&-pending {
				width: 16px;
				color: #ffae74;
			}
			&-fail {
				width: 9px;
				color: var(--common-resultIconFailureColor);
			}
		}

		&-text {
			display: inline-block;
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}
	}

	.margin-top-20 {
		margin-top: 20px;
	}
}

.request-table-area {
	margin-top: 20px;
	margin-bottom: 60px;
}
