@import "src/styles/utils";

.header-cell {
	color: var(--common-headerTextColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.address-data-cell {
	color: var(--common-linkColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.amount-data-cell {
	.amount {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;

		&-value {
			display: inline-block;
			margin-right: 4px;
			color: var(--common-textColor);
		}

		&-denom {
			display: inline-block;
			color: var(--common-oraiDenomTextColor);
			text-transform: uppercase;
		}
	}
}

.card {
	border: 1px solid var(--common-borderColor);
	box-sizing: border-box;
	border-radius: 6px;
	margin-bottom: 16px;
	word-break: break-all;

	&-header {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 8px 16px;
		border-bottom: 1px solid var(--common-borderColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		color: var(--common-linkColor);

		&-root {
			padding-top: 0;
		}
	}

	&-body {
		padding: 16px;
	}
}

.icon {
	display: inline-block;
	width: auto;
	max-height: 32px;
	margin-right: 8px;
}

.title {
	display: inline-block;
	color: #00fff0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}

.amount {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;

	&-value {
		display: inline-block;
		margin-right: 4px;
		color: var(--common-textColor);
	}

	&-denom {
		display: inline-block;
		margin-right: 8px;
		text-transform: uppercase;
		color: var(--common-textColor);
	}

	&-usd {
		display: inline-block;
		color: #9a9a9a;
	}
}

.text {
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
}

.responsive-image {
	max-width: 100%;
	height: auto;
}

.link {
	color: #37cc6e;
}

.code {
	&-copy {
		display: inline-block;
		margin-left: 16px;
		cursor: pointer;
	}
}

.skeleton {
	&-block {
		display: block;
	}

	&-inline-block {
		display: inline-block;
	}
}

.code-container {
	:global(.MuiIconButton-root) {
		color: var(--common-textColor);
	}

	:global(.MuiAccordionDetails-root) {
		border: 1px solid var(--common-borderColor);
	}

	:global(.MuiAccordionSummary-root) {
		&:hover {
			background-color: var(--common-blockItemBackgroundColor);
		}
	}
}

.store-code-title {
	white-space: nowrap;
}

.store-code-value {
	color: var(--common-textColor);
	overflow: hidden;
}
