@import "src/styles/utils";

.address-card {
	background: var(--common-containerBackgroundColor);
	box-shadow: 0px 2px 8px var(--common-boxShadowColor);
	border-radius: 8px;
	height: 100%;

	&-header {
		padding: 20px;

		.header-icon {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
			cursor: pointer;
		}

		.header-title {
			display: inline-block;
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			vertical-align: middle;
		}

		.qr-icon {
			position: relative;
			display: inline-block;
			margin-right: 10px;
			border-radius: 100%;
			width: 36px;
			height: 36px;
			vertical-align: middle;
			cursor: pointer;

			& > svg {
				position: absolute;
				top: 50%;
				left: 50%;
				display: inline-block;
				margin: 0;
				transform: translate(-50%, -50%);
			}
		}
	}

	&-body {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 15px;

		.address-title {
			margin-bottom: 5px;

			&-text {
				display: inline-block;
				margin-right: 8px;
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 150%;
				color: var(--common-textColor);
				vertical-align: middle;
			}

			&-icon {
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
			}
		}

		.address-value {
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 150%;
			color: var(--common-textColor);
		}
	}
}

.dialog {
	background: var(--common-containerBackgroundColor);
	box-shadow: 0px 2px 8px var(--common-boxShadowColor);
	border-radius: 8px;

	&-header {
	}

	&-controls {
		padding: 15px;
		padding-bottom: px;
		text-align: right;
	}

	&-title {
		padding: 0 30px;
		color: var(--common-textColor);
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		text-align: center;
		word-break: break-all;
	}

	&-body {
		padding: 30px;
		text-align: center;
	}

	&-image {
		display: inline-block;
		width: 250px;
		height: auto;
	}

	&-close-icon {
		display: inline-block;
		cursor: pointer;
	}
}

.nametag {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 15px;

	&-title {
		margin-bottom: 5px;

		&-text {
			display: inline-block;
			margin-right: 8px;
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			color: var(--common-textColor);
			vertical-align: middle;
		}

		&-icon {
			display: inline-block;
			vertical-align: middle;
			cursor: pointer;
		}
	}

	&-value {
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		color: var(--common-textColor);
	}
}
