@import "src/styles/utils";

.proposal-details {
	margin-top: 0;
	margin-bottom: 30px;
	@media (min-width: 1279px) {
		margin-top: 30px;
	}
}

.create-button,
.submit-button {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 10px;
	background: var(--common-buttonBackgroundColor);
	border: 1px solid var(--common-activeTabColor);
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 20px;

	&-text {
		color: var(--common-buttonTextColor);
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
	}

	&-icon {
		width: 12px;
		height: auto;
		color: var(--common-buttonTextColor);
	}
}
