@import "src/styles/utils";
.validator-list {
	margin-top: 30px;
	width: 1200px;
	padding: 0px;
}
.detail-section {
	margin-bottom: var(--verticalSpace1);
}

.switch-tab {
	@include FlexCombo(row, flex-end, center);
	margin-bottom: 20px;

	&__list {
		@include FlexCombo(row, flex-end, center);
		@include Border([ "all" ], var(--border2));
		border-radius: var(--radius1);
		background: var(--colorWhite);
		overflow: hidden;
	}

	&__item {
		padding: 10px 40px;
		cursor: pointer;
		@include Typo(Roboto, normal, 500, 14px, 21px);
		@include FlexCombo(row, center, center);
	}

	&__item.active {
		background: var(--color1);
		color: var(--colorWhite);
	}
}

.table {
	padding: 25px 20px;
	background-color: var(--colorWhite);
	box-shadow: var(--shadow1);
	box-sizing: border-box;
	border-radius: var(--radius1);

	&__title {
		@include FlexCombo(row, space-between, center);

		&-text {
			@include Typo(Roboto, normal, 500, 20px, 30px);
		}
	}
}

.head {
	@include FlexCombo(row, space-between, flex-start);
	margin-bottom: 20px;

	&__description {
		width: 880px;
		background: var(--colorWhite);
		border-radius: var(--radius1);
		padding: 16px 20px;
		box-shadow: var(--shadow1);
		box-sizing: border-box;
	}

	&__board {
		width: 280px;
		background: var(--colorWhite);
		border-radius: var(--radius1);
		padding: 20px 40px;
		box-shadow: var(--shadow1);
		box-sizing: border-box;
	}
}

.description {
	@include FlexCombo(row, space-between, flex-start);

	&__info {
		width: 441px;

		&-id {
			@include FlexCombo(row, flex-start, center);
			color: var(--color7);
			margin-bottom: 15px;

			button {
				color: var(--color8);
				padding: 4px 10px;
				@include Border([ "all" ], var(--border3));
				@include FlexCombo(row, center, center);
				border-radius: var(--radius3);

				span {
					@include Typo(Roboto, normal, 400, 11px, 16.5px);
					margin-left: 4px;
				}
			}

			span {
				margin-right: 15px;
				@include Typo(Roboto, normal, 400, 18px, 27px);
			}
		}

		&-title {
			@include Typo(Roboto, normal, 500, 16px, 24px);
			margin-bottom: 20px;
		}

		&-tab-wrap {
			@include FlexCombo(row, space-between, flex-start);
			margin-bottom: 15px;
		}

		&-tab {
			width: 50%;

			&-title {
				@include Typo(Roboto, normal, 500, 14px, 21px);
			}
		}

		&-tab-content1 {
			@include Typo(Roboto, normal, 400, 16px, 24px);
			color: var(--color1);
		}

		&-tab-content2 {
			@include Typo(Roboto, normal, 400, 16px, 24px);
			color: var(--color1);

			span {
				color: black;
				margin-right: 4px;
			}
		}

		&-tab-content3 {
			@include Typo(Roboto, normal, 400, 16px, 24px);
		}
	}
	&__content {
		width: 340px;
		background: var(--color6);
		padding: 15px;
		box-sizing: border-box;

		&-title {
			@include Typo(Roboto, normal, 500, 14px, 21px);
			margin-bottom: 5px;
		}

		&-main {
			@include Typo(Roboto, normal, 400, 14px, 21px);
		}

		&-more {
			@include Typo(Roboto, normal, 400, 14px, 21px);
			color: var(--color1);
			cursor: pointer;
		}
	}
}

.ten-line {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;
}

.board {
	@include FlexCombo(column, flex-start, center);

	&__title {
		@include Typo(Roboto, normal, 400, 14px, 21px);
	}

	&__number {
		@include Typo(Roboto, normal, 500, 18px, 27px);
		margin-bottom: 22px;
	}

	&__estimation {
		@include FlexCombo(row, space-between, center);
		flex-wrap: wrap;
		width: 100%;

		&-item {
			@include FlexCombo(row, center, center);
			width: 50%;
			margin-bottom: 25px;

			&-dot {
				width: 12px;
				height: 12px;
				border-radius: 100%;

				margin-right: 10px;

				&--type1 {
					background: var(--color11);
				}

				&--type2 {
					background: var(--color12);
				}

				&--type3 {
					background: var(--color13);
				}

				&--type4 {
					background: var(--color14);
				}
			}

			&-info {
				&-title {
					@include Typo(Roboto, normal, 400, 14px, 21px);
				}

				&-number {
					@include Typo(Roboto, normal, 500, 16px, 24px);
				}
			}
		}
	}

	&__chart {
		margin-bottom: 22px;
	}
}
