@import "src/styles/utils";

.claim-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		background-color: #ffffff;
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;

		table {
			width: 100%;
			tr {
				td:nth-child(1) {
					text-align: left;
					width: 50%;
				}
				td:nth-child(2) {
					text-align: right;
					width: 50%;
				}

				&:nth-child(1),
				&:nth-child(3) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: #181818;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		.item-text {
			color: #181818;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.item-link {
			color: #1b57f0;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.claim-data-cell {
			.button {
				padding: 8px 18px;
				color: #1b57f0;
				border: 1px solid #1b57f0;
				box-sizing: border-box;
				border-radius: 4px;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 150%;
				cursor: pointer;

				&-icon {
					position: relative;
					top: 2px;
					display: inline-block;
					margin-left: 8px;
					width: auto;
					height: 16px;
				}
			}
		}
	}
}
