@import "src/styles/utils";

.missed-blocks-card {
	padding: 0;
	margin-top: 17px;
	height: 100%;
	background: transparent;
	box-shadow: none;

	@media screen and (min-width: 1280px) {
		padding: 20px;
		margin-top: 0;
		background: #ffffff;
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;
	}

	&-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		.title {
			color: #181818;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			letter-spacing: 0.4px;
		}

		.total {
			display: flex;
			flex-direction: row;
			justify-content: flex;
			align-items: center;
			height: 30px;
			padding-left: 4px;
			padding-right: 4px;
			border: 1px solid #e7e7e7;
			box-sizing: border-box;
			border-radius: 4px;
			background-color: #ffffff;

			@media screen and (min-width: 1280px) {
				background-color: inherit;
			}

			&-icon {
				display: inline-block;
				width: auto;
				height: 20px;
				margin-right: 8px;
			}

			&-text {
				display: inline-block;
				height: 20px;
				color: #181818;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
			}
		}
	}

	&-body {
	}
}
