@import "src/styles/utils";

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.header-cell {
	color: var(--common-linkColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.delegator-address-data-cell {
	color: var(--common-linkColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.amount-data-cell {
	.amount,
	.reward {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;

		&-value {
			display: inline-block;
			margin-right: 4px;
			color: var(--common-textColor);
		}

		&-denom {
			display: inline-block;
			color: var(--validators-validatorDetails-delegatorsTable-oraiTextColor);
			text-transform: uppercase;
		}
	}
}

.shares-data-cell {
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}
