.oracle-script-card-list {
	&-item {
		margin-bottom: 15px;
		padding: 15px;
		background: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;

		table {
			width: 100%;
			tr {
				td:nth-child(1) {
					text-align: left;
				}
				td:nth-child(2) {
					text-align: right;
				}

				&:nth-child(1) {
					td {
						padding-bottom: 10px;
					}
				}

				&:nth-child(2),
				&:nth-child(3) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		.oracle-script {
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;

			&-tag {
				display: inline-block;
				margin-right: 8px;
				color: var(--common-textColor);
			}

			&-name {
				color: var(--common-linkColor);
			}
		}

		.request-and-response-time {
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;

			.request-value {
				display: inline-block;
				margin-right: 8px;
				color: var(--common-textColor);
			}

			.response-time-value {
				color: var(--common-placeholderTextColor);
			}
		}

		.description {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}

		.owner {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			color: var(--common-linkColor);
		}
	}
}
