.StatusBar {
	.card {
		background: #ffffff;
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;
		padding: 20px 30px;
		position: relative;
		min-height: 168px;
		margin-bottom: 30px;

		.title {
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			color: #181818;
			margin-bottom: 10px;
		}

		.address-title {
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			color: #000000;
			display: flex;
			align-items: center;
		}

		.address {
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			color: #000000;

			@media (max-width: 500px) {
				font-size: 14px;
			}

			@media (max-width: 450px) {
				font-size: 12px;
			}

			@media (max-width: 400px) {
				font-size: 11px;
			}
		}

		.footer {
			position: absolute;
			top: 124px;
			left: 30px;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			color: #1b57f0;
			display: flex;
			align-items: center;
			cursor: pointer;
		}

		.balance {
			font-weight: normal;
			font-size: 20px;
			line-height: 150%;
			color: #000000;

			.symbol {
				color: #1b57f0;
			}
		}
	}
}
