.StatusBar {
	.card {
		background: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px var(--common-boxShadowColor);
		border-radius: 8px;
		padding: 20px 30px;
		position: relative;
		min-height: 168px;
		margin-bottom: 30px;

		.title {
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
			color: var(--common-textColor);
			margin-bottom: 10px;
			@media (max-width: 500px) {
				font-size: 14px;
			}

		}

		.address-title {
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			color: var(--common-textColor);
			display: flex;
			align-items: center;
		}

		.address {
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			color: var(--common-textColor);

			@media (max-width: 500px) {
				font-size: 14px;
			}

			@media (max-width: 450px) {
				font-size: 12px;
			}

			@media (max-width: 400px) {
				font-size: 11px;
			}
		}

		.orai2usd {
			display: flex;
			align-items: center;
			svg {
				margin-right: 5px;
			}
		}

		.footer {
			position: absolute;
			top: 124px;
			left: 30px;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			color: var(--common-linkColor);
			display: flex;
			align-items: center;
			cursor: pointer;
		}

		.balance {
			font-weight: normal;
			font-size: 20px;
			line-height: 150%;
			color: var(--common-textColor);
			@media (max-width: 500px) {
				font-size: 13px;
			}
			// .amount {
			// 	@media (max-width: 500px) {
			// 		font-size: 13px;
			// 	}
			// }
			.symbol {
				text-transform: uppercase;
				color: var(--common-linkColor);
			}
		}
	}
}

.skeleton {
	&-block {
		display: block;
	}

	&-inline {
		display: inline-block;
	}
}
