@import "src/styles/utils";

.address {
	display: flex;
	flex-direction: row;

	&-link {
		color: var(--common-linkColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;
		word-break: break-all;

		&-lg {
			font-size: 16px;
		}

		&-md {
			font-size: 15px;
		}

		&-sm {
			font-size: 12px;
		}
	}

	&-copy {
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		cursor: pointer;
	}
}
