.delegated-withdraw {
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;

		.title {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 150%;
			letter-spacing: 0.4px;

			@media screen and (min-width: 1280px) {
				font-size: 20px;
			}
		}

		.button {
			padding: 8px;
			color: var(--common-linkColor);
			border: 1px solid var(--common-borderColor);
			box-sizing: border-box;
			border-radius: 4px;
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
			cursor: pointer;
			display: flex;

			&-icon {
				position: relative;
				top: 2px;
				display: inline-block;
				margin-left: 8px;
			}
		}
	}
}

.no-result-wrapper {
	padding: 50px;
}
