@import "src/styles/utils";

.requestId-cell {
	@include Typo(Roboto, normal, 400, 14px, 21px);
	color: var(--color1);
}

.oracleScript-cell {
	@include FlexCombo(row, flex-start, center);
	@include Typo(Roboto, normal, 400, 14px, 21px);

	span {
		color: var(--color1);
		margin-right: 4px;
	}
}

.report-status {
	&__title {
		@include FlexCombo(row, space-between, center);
		@include Typo(Roboto, normal, 400, 14px, 21px);
		margin-bottom: 5px;
	}

	&__progress-bar {
		height: 15px;
		border-radius: var(--radius3);
		background: var(--color3);

		&--not-full {
			background: var(--color4);
		}
	}
}

.status {
	@include FlexCombo(row, flex-start, center);

	span {
		@include Typo(Roboto, normal, 400, 14px, 21px);
		color: var(--color5);
		margin-left: 4px;
	}
}

.owner {
	@include Typo(Roboto, normal, 400, 14px, 21px);
	color: var(--color1);
	text-align: right;
}
