@import "src/styles/utils";

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.header-cell {
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.sort-button {
	padding: 0;
	margin-left: 12px;
	margin-right: -4px;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
	cursor: pointer;
}

.skeleton-data-cell {
	box-sizing: border-box;
	height: 42px;
}

.rank-data-cell {
}

.validator-data-cell {
	display: block;
	color: var(--common-linkColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;

	img {
		margin-right: 8px;
		vertical-align: middle;
	}
}

.voting-power-data-cell {
	& > div:nth-child(1) {
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		text-align: right;
	}

	& > div:nth-child(2) {
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		text-align: right;
	}
}

.previous-graph {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: var(--validators-cumulativeShareBarColor_1);
	@include media("<medium") {
		height: 80%;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
}

.current-graph {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: var(--validators-cumulativeShareBarColor_2);
	@include media("<medium") {
		height: 80%;
	}
}

.total-value {
	position: relative;
	width: 100%;
	height: 100%;
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	text-align: right;
}

.logo-brand {
	display: flex;
	align-items: center;
}

.logo-custom {
	border-radius: 50%;
	border: 1px solid var(--validators-logo-border);
	padding: 5px;
	margin-right: 5px;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	border-radius: 50px;
}

.progress {
	border-radius: 8px;
}

.tooltip-header-cell {
	margin-left: 5px;
}

.ant-tooltip {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.85);
	font-size: 14px;
	font-variant: tabular-nums;
	line-height: 1.5715;
	list-style: none;
	-webkit-font-feature-settings: "tnum";
	font-feature-settings: "tnum";
	position: absolute;
	z-index: 1070;
	display: block;
	max-width: 250px;
	visibility: visible;
}
