@import "src/styles/utils";

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.header-cell {
	color: #546a8a;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.sort-button {
	padding: 0;
	margin-left: 12px;
	margin-right: -4px;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
	cursor: pointer;
}

.skeleton-data-cell {
	box-sizing: border-box;
	height: 42px;
}

.rank-data-cell {
}

.validator-data-cell {
	display: block;
	color: #1b57f0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;

	img {
		margin-right: 8px;
		vertical-align: middle;
	}
}

.voting-power-data-cell {
	& > div:nth-child(1) {
		color: #181818;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		text-align: right;
	}

	& > div:nth-child(2) {
		color: #9a9a9a;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		text-align: right;
	}
}

.previous-graph {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #d6fec4;
	@include media("<medium") {
		height: 80%;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
}

.current-graph {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #b9f69c;
	@include media("<medium") {
		height: 80%;
	}
}

.total-value {
	position: relative;
	width: 100%;
	height: 100%;
	color: #181818;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	text-align: right;
}

.block-row-wrapper {
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;
	margin-top: 15px;
	padding: 15px;
	.block-row {
		display: flex;
		justify-content: space-between;
		margin-top: 10px;
		.link {
			font-weight: normal;
			font-size: 16px;
			color: #1b57f0;
			cursor: pointer;
		}
		.left {
			font-weight: 500;
			font-size: 16px;
			color: #181818;
		}
		.right {
			text-align: right;
		}
		.left-two-line {
			.title {
				font-weight: 500;
				font-size: 16px;
			}
			.value {
				div {
					text-align: left;
				}
			}
		}
		.right-two-line {
			.title {
				font-weight: 500;
				font-size: 16px;
			}
			text-align: right;
		}
	}
	.block-row-power {
		margin-top: 10px;
		.left {
			font-weight: 500;
			font-size: 16px;
			color: #181818;
		}
		.right {
			position: relative;
			> div {
				margin-top: 5px;
				display: flex;
				div {
					font-size: 16px;
					&:last-child {
						margin-left: 10px;
					}
				}
			}
		}
	}
	.block-row-cumulative {
		margin-top: 10px;
		.left {
			font-weight: 500;
			font-size: 16px;
			color: #181818;
		}
		.right {
			position: relative;
			div {
				font-size: 14px;
				margin-top: 2px;
				&:last-child {
					display: block;
					text-align: right;
				}
			}
		}
	}
	.block-row-delegate {
		margin-top: 10px;
	}
}
