@import "src/styles/utils";

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.header-cell {
	color: #546a8a;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.sort-button {
	padding: 0;
	margin-left: 12px;
	margin-right: -4px;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
	cursor: pointer;
}

.skeleton-data-cell {
	box-sizing: border-box;
	height: 42px;
}

.rank-data-cell {
}

.validator-data-cell {
	display: block;
	color: #1b57f0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;

	img {
		margin-right: 8px;
		vertical-align: middle;
	}
}

.voting-power-data-cell {
	& > div:nth-child(1) {
		color: #181818;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		text-align: right;
	}

	& > div:nth-child(2) {
		color: #9a9a9a;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		text-align: right;
	}
}

.previous-graph {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #d6fec4;
	@include media("<medium") {
		height: 80%;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
}

.current-graph {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #b9f69c;
	@include media("<medium") {
		height: 80%;
	}
}

.total-value {
	position: relative;
	width: 100%;
	height: 100%;
	color: #181818;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	text-align: right;
}

.logo-brand {
	display: flex;
	align-items: center;
}

.logo {
	border-radius: 50px;
}

.progress {
	border-radius: 8px;
}
