@import "src/styles/utils";

.info-row {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: initial;
	width: 100%;
	margin-bottom: 18px;

	&:last-child {
		margin-bottom: 0;
	}

	@include media(">=large") {
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.label-column {
		flex-basis: initial;
		margin-right: 16px;
		color: #181818;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;

		@include media(">=large") {
			flex-basis: 20%;
		}
	}

	.value-column {
		flex-basis: initial;

		@include media(">=large") {
			flex-basis: 80%;
		}
	}
}
