@import "src/styles/utils";

.transaction-card {
	padding: 0;
	background: transparent;
	box-shadow: none;

	@media screen and (min-width: 1280px) {
		padding: 20px;
		background: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;
	}

	&-header {
		margin-bottom: 20px;
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
		letter-spacing: 0.4px;
	}

	&-body {
		position: relative;
		.no-result-wrapper {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.align-right {
	text-align: right;
}

.text {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	color: var(--common-textColor);

	&-link {
		color: var(--common-linkColor);
		align-items: center;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
	}
}
