@import "src/styles/utils";

.container {
	display: flex;
	justify-content: flex-end;

	.pagination {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;

		&-item {
			padding: 20px 10px;

			button {
				cursor: pointer;
			}
			button:disabled {
				cursor: not-allowed;
				svg {
					path {
						fill: var(--common-textColor);
					}
				}
			}
		}

		.page-button {
			cursor: pointer;

			color: var(--common-paginationTextColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;

			&.active {
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 150%;
				color: var(--common-textColor);
			}
		}
	}
}
