@import "src/styles/utils";

.select-box {
	position: relative;
	cursor: pointer;
}

.selected-item {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	height: 50px;
	padding: 15px;
	background: var(--common-containerBackgroundColor);
	border: 1px solid var(--common-borderColor);
	border-radius: 8px;
	cursor: pointer;
}

.text-field {
	display: inline-block;
	background: var(--common-containerBackgroundColor);
	color: var(--common-textColor);
	border: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	flex-grow: 1;
	width: 100%;
	cursor: pointer;

	&:focus-visible {
		outline: none;
	}
}

.arrow {
	display: inline-block;
	margin-right: 8px;
	width: 11px;
	height: auto;
	color: var(--common-textColor);
}

.list {
	position: absolute;
	left: 0;
	top: 60px;
	width: 200px;
	border-radius: 8px;
	background: var(--common-containerBackgroundColor);
	z-index: 10;
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);

	&-item {
		padding: 15px 20px;
		border-bottom: 1px solid var(--common-borderColor);
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		cursor: pointer;

		&:hover {
			background: var(--common-blockItemBackgroundColor);
		}
	}
}
