.form-dialog {
	width: 500px;
}
.form-input {
	margin-bottom: 10px !important;
}

.row-balance {
	display: flex;
	justify-content: space-between;
	padding: 8px;
	width: 100%;
	margin-bottom: 15px;
	.left {
	}
	.right {
	}
}
