.channel-list-wrapper {
	padding: 10px;

	.body-list {
		border: 1px solid #e6e6e6;
		margin-top: 10px;
		padding: 5px 0;
		color: var(--common-textColor);
		border-radius: 8px;
		align-items: center;
		display: flex;
	}

	.channel-name {
		background: var(--common-backGroundColorGray);
		border-radius: 8px;
		padding: 8px;
	}

	.line-wrapper {
		width: 100px;
		height: 2px;
		margin: 18px -40px;
		z-index: 1;
	}

	.dot {
		border-radius: 50%;
		display: inline-block;
		width: 10px;
		height: 10px;
	}

	.flexCenter {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.channel-name.partners {
		display: flex;
		align-items: center;

		.dot {
			margin-right: 10px;
		}
	}

	.pagination {
		display: flex;
		flex-direction: row-reverse;
		margin-top: 15px;
	}
}

:global(.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow) {
	top: 50%;
	color: var(--common-textColor);
}
