@import "src/styles/utils";

.relayers {
	.page-title {
		margin-bottom: 10px;

		h1 {
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 500;
			color: var(--common-textColor);
		}
	}

	.item-list {
		margin-bottom: 10px;
		border: unset;
		box-shadow: 0 0.3rem 0.6rem 0 rgb(0 0 0 / 16%);
		border-radius: 8px;
	}

	.extra-list {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-info {
			color: #89909b;
			margin-top: 6px;
		}
	}

	.dot {
		border-radius: 50%;
		display: inline-block;
		width: 10px;
		height: 10px;
		margin-right: 5px;
	}

	.extra-list-tag {
		border-radius: 160px;
		font-weight: 500;
		padding: 5px 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	:global(h4.ant-list-item-meta-title) {
		font-size: 16px;
		font-weight: 500;
		text-transform: uppercase;
		color: var(--common-textColor);
	}

	:global(.ant-list-item-meta-description) {
		color: var(--common-textColor);
	}

	:global(.ant-collapse > .ant-collapse-item) {
		border-bottom: unset;
	}

	:global(.ant-collapse) {
		background-color: var(--common-containerBackgroundColor);
	}

	:global(.ant-collapse-content) {
		background: var(--common-containerBackgroundColor);
	}

	:global(.ant-collapse-content) {
		color: var(--common-textColor);
	}
}
