@import "src/styles/utils";

.search-input {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	background: var(--common-containerBackgroundColor);
	box-shadow: var(--shadow1);
	border-radius: 8px;

	input {
		color: var(--common-textColor);
		background-color: var(--common-containerBackgroundColor);
		border: none;
		outline: none;

		&:focus {
			border: none;
			outline: none;
		}

		&::placeholder {
			color: var(--common-placeholderTextColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}
	}

	button {
		position: relative;
		top: 3px;
	}
}
