@import "src/styles/utils";

.search-input {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 10px 20px;
	background: var(--common-containerBackgroundColor);
	box-shadow: var(--shadow1);
	border-radius: 8px;
}

.text-field {
	display: inline-block;
	flex-grow: 1;
	color: var(--common-textColor);
	background-color: var(--common-containerBackgroundColor);
	border: none;
	outline: none;
	padding: 6px 0px;

	&:focus {
		border: none;
		outline: none;
	}

	&::placeholder {
		color: var(--common-placeholderTextColor);
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
	}
}

.search-icon {
	display: inline-block;
	width: 13px;
	height: auto;
	color: var(--common-placeholderTextColor);
}
