@import "src/styles/utils";
.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.header-cell {
	color: var(--common-headerTextColor);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.contract-data-cell {
	color: var(--common-linkColor);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	word-break: break-all;
}

.name-data-cell,
.result-data-cell {
	color: var(--common-textColor);
	font-family: 'IBM Plex Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	word-break: break-all;

	.result {
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;

		&-value {
			display: inline-block;
			margin-right: 4px;
			color: var(--common-textColor);

			.copy-icon {
				cursor: pointer;
				color: var(--common-textColor);
			}
		}
	}
}

.status-data-cell {
	.status {
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		&-icon {
			display: inline-block;
			width: 16px;
			height: auto;
			margin-right: 8px;

			&-success {
				width: 16px;
				color: var(--common-resultIconSuccessColor);
			}

			&-pending {
				width: 16px;
				color: #ffae74;
			}

			&-fail {
				width: 9px;
				color: var(--common-resultIconFailureColor);
			}
		}

		&-text {
			display: inline-block;
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}
	}
}

.skeleton {
	display: inline-block;
}
