@import "src/styles/utils";

.trigger {
	cursor: pointer;
	word-break: keep-all;
	white-space: nowrap;
}

.preview {
	position: relative;
	padding: 16px;
}

.close-button {
	position: absolute;
	top: 8px;
	right: 16px;
	cursor: pointer;
	display: inline-block;
}
