@import "src/styles/utils";

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.header-cell {
	color: var(--common-linkColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.validator-data-cell {
	color: var(--common-linkColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.amount-data-cell,
.reward-data-cell {
	.amount,
	.reward {
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;

		&-value {
			display: inline-block;
			margin-right: 4px;
			color: var(--common-textColor);
		}

		&-denom {
			display: inline-block;
			color: var(--common-linkColor);
			text-transform: uppercase;
		}
	}
}
