@import "src/styles/utils";

.delegator-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		background-color: #ffffff;
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;

		table {
			width: 100%;
			tr {
				td:nth-child(1) {
					text-align: left;
					width: 40%;
				}
				td:nth-child(2) {
					text-align: right;
					width: 60%;
				}

				&:nth-child(1) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: #181818;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		.item-text {
			color: #181818;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.item-link {
			color: #1b57f0;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.address-data-cell {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;

			&-with-owner-badge {
				justify-content: space-between;
			}

			.address {
				color: #1b57f0;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;
			}

			.owner-badge {
				padding: 6px;
				color: #5f51ff;
				border: 1px solid #5f51ff;
				box-sizing: border-box;
				border-radius: 4px;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 150%;
			}
		}
	}
}
