@import "src/styles/utils";

.search-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 30px;

	@include media("<large") {
		margin-top: 0px;
		margin-bottom: 20px;
	}
}

.switch-network {
	display: flex;
	align-items: center;

	&-title {
		margin-right: 16px;
		font-family: "IBM Plex Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: var(--common-textColor);
	}
}

.title {
	display: none;
	color: var(--common-textColor);
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;

	@include media(">=large") {
		display: block;
	}
}

.button {
	height: 42px;
	font-family: "IBM Plex Sans";
	font-weight: 500;
	font-size: 18px;
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;
}

.menu {
	&-item {
		font-family: "IBM Plex Sans";
		font-weight: 500;
		font-size: 18px;
		padding-top: 7px;
	}
}
