@import "src/styles/utils";

.SearchArea {
	width: 100%;
	padding: 0;
	margin: 0;
	height: fit-content;
	padding: var(--heightHeader) 0 0 0;
	position: relative;
	overflow: hidden;

	// @include media(">1880px") {
	// 	background-size: cover;
	// }
	// @include media("<large") {
	// 	width: calc(100% + 30px);
	// 	margin-left: -15px;
	// }

	// @include media("<medium") {
	// 	margin-top: 0;
	// 	background: #0a0e11;
	// 	width: calc(100% + 20px);
	// 	margin-left: -10px;
	// }

	display: flex;
	flex-flow: column;
	align-items: center;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		background: transparent;
		height: 100%;

		// @include media("<medium") {
		// 	width: 82%;
		// }

		// @include media("<=small") {
		// 	width: 95%;
		// 	justify-content: center;
		// }

		// @include media("<205px") {
		// 	width: 205px;
		// }

		.title {
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 28px;
			color: #181818;

			// span {
			// 	color: #ffffff;
			// }

			// @include media("<large") {
			// 	font-size: 40px;
			// }

			// @include media("<medium") {
			// 	font-size: 34px;
			// }

			// @include media("<=small") {
			// 	font-size: 22px;
			// }
		}

		.search-wrapper {
			width: 60%;
			margin: 30px 0;
			height: fit-content;
			@include media("<medium") {
				margin: 15px 0;
				width: 80%;
			}

			@include media("<=small") {
				width: 100%;
				padding: 0 5px;
			}

			.search {
				position: relative;
				border-radius: 5px;
				overflow: hidden;
				text-overflow: ellipsis;
				height: 45px;
				margin: 0;
				padding: 0;
				display: flex;
				align-self: center;
				background: #ffffff;
				border: 1px solid #e7e7e7;
				box-sizing: border-box;
				border-radius: 8px;

				@include media("<medium") {
					width: 100%;
					height: 40px;
				}

				@include media("<=small") {
					height: 32px;
				}

				.input {
					padding: 10px 20px;
					height: 100%;
					width: 100%;
					background: var(--colorWhite);
					color: var(--colorMainText);
					font-size: var(--fontSizeMain);
					@include media("<=small") {
						margin-left: -5px;
						font-size: 10px;
					}

					&::placeholder {
						font-size: var(--fontSizeMain);
						color: var(--fontSizeDassSearchPh);
						line-height: inherit;
					}
				}

				.searchBtn {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					// border: 1px solid var(--colorSearchInput);
					border-radius: 0 5px 5px 0;
					background: #1b57f0;
					background: #1b57f0;
					padding: 0 10.5px;
					margin-left: 10px;

					@include media("<medium") {
						padding: 0px 5px;
					}
					.searchIcon {
						width: 22px;
						height: 22px;
						@include media("<medium") {
							width: 16px;
							height: 16px;
						}
					}
				}
			}
		}

		.link-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;

			margin: 40px 0;

			@include media("<medium") {
				margin: 25px 0;
				width: 80%;
			}
			@include media("<small") {
				margin: 15px 0;
				width: 100%;
				padding: 0 5px;
			}

			p {
				color: #ffffff;
				font-family: "Montserrat", serif;
				font-size: 18px;
				margin-bottom: 10px;

				@include media("<medium") {
					font-size: 12px;
					margin-bottom: 5px;
				}
			}

			.link-btn-wrapper {
				width: 100%;
				display: grid;
				grid-auto-flow: column;
				grid-gap: 10px;
				grid-template-columns: repeat(2, 1fr);
			}

			@include media("<medium") {
				grid-gap: 8px;
			}
		}
	}
}
