.detail-card {
	padding: 20px;
	background: var(--common-containerBackgroundColor);
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;
	height: 100%;

	.info {
		margin-bottom: 20px;

		&-title {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		&-text {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			word-break: break-all;
		}

		&-link {
			color: var(--common-linkColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			word-break: break-all;
		}

		&-denom {
			text-transform: uppercase;
			color: var(--validators-validatorDetails-delegatorsTable-oraiTextColor);
		}
	}

	table {
		width: 100%;
		tr {
			td:nth-child(1) {
				text-align: left;
			}
			td:nth-child(2) {
				text-align: right;
			}
		}
	}
}

.skeleton {
	display: inline-block;
}
