.detail-card {
	padding: 20px;
	background: var(--common-containerBackgroundColor);
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;
	height: 100%;

	.info {
		margin-bottom: 20px;

		&-title {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		&-text {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			word-break: break-all;
		}

		&-link {
			color: var(--common-linkColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			word-break: break-all;
			cursor: pointer;
		}

		&-denom {
			text-transform: uppercase;
			color: var(--validators-validatorDetails-delegatorsTable-oraiTextColor);
		}
	}

	table {
		width: 100%;
		tr {
			td:nth-child(1) {
				text-align: left;
			}
			td:nth-child(2) {
				text-align: right;
			}
		}
	}
}

.skeleton {
	display: inline-block;
}

.more-button {
	// margin-top: 15px;
	padding: 8px;
	background: var(--common-activeTabColor);
	color: var(--common-activeTabTextColor);
	border: 1px solid var(--common-borderColor);
	box-sizing: border-box;
	border-radius: 4px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	cursor: pointer;

	&-icon {
		position: relative;
		top: 2px;
		display: inline-block;
		margin-left: 8px;
		width: auto;
		height: 16px;
	}
}

.preview {
	position: relative;
	padding: 16px;
}

.close-button {
	position: absolute;
	top: 8px;
	right: 16px;
	cursor: pointer;
	display: inline-block;
}
