@import "src/styles/utils";

.button-group {
	display: inline-flex;
	flex-direction: row;

	.button {
		display: inline-block;
		padding: 10px 50px;
		color: var(--common-textColor);
		background: var(--common-containerBackgroundColor);
		border-top: 1px solid var(--common-borderColor);
		border-bottom: 1px solid var(--common-borderColor);
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 150%;
		text-align: center;
		cursor: pointer;

		&:first-child {
			border-left: 1px solid var(--common-borderColor);
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
		}

		&:last-child {
			border-right: 1px solid var(--common-borderColor);
			border-top-right-radius: 8px;
			border-bottom-right-radius: 8px;
		}

		&.active {
			background: var(--common-activeTabColor);
			color: var(--common-activeTabTextColor);
		}
	}
}
