@import "src/styles/utils";

.top-proposal-card-list {
	margin-top: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e7e7e7;

	@media screen and (min-width: 1280px) {
		padding-bottom: 0;
		border-bottom: none;
	}

	.top-proposal-card {
		padding: 20px;
		background: #ffffff;
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;

		&-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;

			.proposal-id {
				color: #5f51ff;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;

				@media screen and (min-width: 1280px) {
					font-size: 14px;
				}
			}

			.proposal-status {
				display: inline-flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				padding: 2px 10px;
				height: 24px;
				box-sizing: border-box;
				border-radius: 4px;

				&-icon {
					display: inline-block;
					width: auto;
					height: 6px;
					margin-right: 3px;
				}

				&-text {
					display: inline-block;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 11px;
				}

				&-passed {
					border: 1px solid #3fcc28;

					.proposal-status-text {
						color: #12c90e;
					}
				}

				&-rejected {
					border: 1px solid #f3574f;

					.proposal-status-text {
						color: #f3574f;
					}
				}
			}
		}

		&-body {
			table {
				width: 100%;
				tr {
					td:nth-child(1) {
						text-align: left;
						width: 35%;
					}
					td:nth-child(2) {
						text-align: right;
						width: 65%;
					}

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						td {
							padding-bottom: 10px;
						}
					}

					&:nth-child(4) {
						td {
							padding-bottom: 20px;
						}
					}

					&:nth-child(5) {
						td {
							padding-bottom: 15px;
						}
					}
				}
			}

			.proposal-title {
				margin-bottom: 10px;
				color: #000000;
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;

				@media screen and (min-width: 1280px) {
					font-size: 16px;
				}
			}

			.item-title {
				color: #181818;
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;

				@media screen and (min-width: 1280px) {
					font-size: 14px;
				}
			}

			.item-text {
				color: #181818;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;

				@media screen and (min-width: 1280px) {
					font-size: 14px;
				}
			}

			.item-link {
				color: #1b57f0;
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;

				@media screen and (min-width: 1280px) {
					font-size: 14px;
				}
			}

			.graph {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				height: 21px;

				border-radius: 4px;
				overflow: hidden;

				&-yes {
					height: 100%;
					background: #0278ae;
				}

				&-no {
					height: 100%;
					background: #51adcf;
				}

				&-no-with-veto {
					height: 100%;
					background: #a5ecd7;
				}

				&-abstain {
					height: 100%;
					background: #ffbf9b;
				}
			}

			.proposal-voted {
				display: inline-flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				height: 24px;

				&-icon {
					display: inline-block;
					width: auto;
					height: 12px;
					margin-right: 8px;
				}

				&-text {
					display: inline-block;
					color: #181818;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;

					@media screen and (min-width: 1280px) {
						line-height: 150%;
						font-size: 14px;
					}
				}
			}

			.view-more {
				display: inline-flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				height: 24px;

				&-text {
					display: inline-block;
					color: #1b57f0;
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;

					@media screen and (min-width: 1280px) {
						line-height: 150%;
						font-size: 14px;
					}
				}

				&-icon {
					display: inline-block;
					width: auto;
					height: 8px;
					margin-left: 8px;
				}
			}
		}
	}
}

.skeleton {
	display: inline-block;
}
