@import "src/styles/utils";

.top-proposal-card-list {
	margin-top: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid var(--common-borderColor);

	@media screen and (min-width: 1280px) {
		padding-bottom: 0;
		border-bottom: none;
	}

	.top-proposal-card {
		padding: 32px;
		display: flex;
		flex-direction: column;
		background: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px var(--common-boxShadowColor);
		border-radius: 8px;
		height: 100%;

		&-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 10px;

			.proposal-id-title {
				display: flex;
				align-items: center;
			}

			.proposal-id {
				color: var(--common-textColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 150%;
				margin-right: 5px;
				@media screen and (min-width: 1280px) {
					font-size: 16px;
				}
			}

			.proposal-title {
				color: var(--proposals-topProposalCard-textTitleColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: bold;
				font-size: 14px;
				line-height: 150%;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				@media screen and (min-width: 1280px) {
					font-size: 16px;
				}
			}

			.proposal-status {
				display: inline-flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				padding: 5px 10px;
				box-sizing: border-box;
				border-radius: 4px;
			
				&-icon {
					display: inline-block;
					&-passed {
						color: var(--proposals-proposalTable-statusPassedTextColor);
					}
					&-rejected {
						color: var(--proposals-proposalTable-statusRejectedTextColor);
					}
		
					&-unspecified {
						color: var(--proposals-proposalTable-statusUnspecifiedTextColor);
					}
		
					&-deposit-period {
						color: var(--proposals-proposalTable-statusDepositPeriodTextColor);
					}
		
					&-voting-period {
						color: var(--proposals-proposalTable-statusVotingPeriodTextColor);
					}
		
					&-failed {
						color: var(--proposals-proposalTable-statusFailedTextColor);
					}
				}
		
				&-text {
					display: inline-block;
					margin-left: 4px;
					font-family: 'IBM Plex Sans';
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					white-space: nowrap;
				}
		
				&-passed {
					border: 1px solid var(--proposals-proposalTable-statusPassedBorderColor);
					background-color: var(--proposals-proposalTable-statusPassedBackgroundColor);
					.proposal-status-text {
						color: var(--proposals-proposalTable-statusPassedTextColor);
					}
				}
		
				&-rejected {
					border: 1px solid var(--proposals-proposalTable-statusRejectedBorderColor);
					background-color: var(--proposals-proposalTable-statusRejectedBackgroundColor);
					.status-text {
						color: var(--proposals-proposalTable-statusRejectedTextColor);
					}
				}
		
				&-unspecified {
					border: 1px solid var(--proposals-proposalTable-statusUnspecifiedBorderColor);
					background-color: var(--proposals-proposalTable-statusUnspecifiedBackgroundColor);
					.proposal-status-text {
						color: var(--proposals-proposalTable-statusUnspecifiedTextColor);
					}
				}
		
				&-deposit-period {
					border: 1px solid var(--proposals-proposalTable-statusDepositPeriodBorderColor);
					background-color: var(--proposals-proposalTable-statusDepositPeriodBackgroundColor);
					.proposal-status-text {
						color: var(--proposals-proposalTable-statusDepositPeriodTextColor);
					}
				}
		
				&-voting-period {
					border: 1px solid var(--proposals-proposalTable-statusVotingPeriodBorderColor);
					background-color: var(--proposals-proposalTable-statusVotingPeriodBackgroundColor);
					.proposal-status-text {
						color: var(--proposals-proposalTable-statusVotingPeriodTextColor);
					}
				}
		
				&-failed {
					border: 1px solid var(--proposals-proposalTable-statusFailedBorderColor);
					background-color: var(--proposals-proposalTable-statusFailedBackgroundColor);
					.proposal-status-text {
						color: var(--proposals-proposalTable-statusFailedTextColor);
					}
				}
			}
		}

		&-body-wrapper {
			display: flex;

		}

		&-chart {
			width: 35%;
		}

		&-body {
			width: 65%;
			display: flex;
			align-items: center;
			table {
				width: 90%;
				tr {
					td {
						padding: 5px 0 !important;
					}
					td:nth-child(1) {
						text-align: left;
						width: 40%;
					}
					td:nth-child(2) {
						text-align: right;
						width: 60%;
					}

					&:nth-child(1),
					&:nth-child(2),
					&:nth-child(3) {
						td {
							padding-bottom: 10px;
						}
					}

					&:nth-child(4) {
						td {
							padding-bottom: 20px;
						}
					}

					&:nth-child(5) {
						td {
							padding-bottom: 15px;
						}
					}
				}
			}

			.view-more {
				width: 10%;
				margin-left: 20px;
			}

			.item-title {
				color: var(--common-textColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: 500;
				font-size: 14px;

				@media screen and (min-width: 1280px) {
					font-size: 16px;
				}
			}

			.item-text {
				color: var(--common-textColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 150%;
				word-break: break-all;

				@media screen and (min-width: 1280px) {
					font-size: 16px;
				}
			}

			.item-link {
				color: var(--common-linkColor);
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;
				word-break: break-all;

				@media screen and (min-width: 1280px) {
					font-size: 14px;
				}
			}

			.graph {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				height: 21px;

				border-radius: 4px;
				overflow: hidden;

				&-yes {
					height: 100%;
					background: var(--proposals-topProposalCard-graphColor_yes);
				}

				&-no {
					height: 100%;
					background: var(--proposals-topProposalCard-graphColor_no);
				}

				&-no-with-veto {
					height: 100%;
					background: var(--proposals-topProposalCard-graphColor_nowithveto);
				}

				&-abstain {
					height: 100%;
					background: var(--proposals-topProposalCard-graphColor_abstain);
				}
			}

			.proposal-voted {
				display: inline-flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				height: 24px;

				&-icon {
					display: inline-block;
					width: auto;
					height: 12px;
					margin-right: 8px;
					color: var(--proposals-topProposalCard-graphColor_yes);
				}

				&-text {
					display: inline-block;
					color: var(--common-textColor);
					font-family: 'IBM Plex Sans';
					font-style: normal;
					font-weight: normal;
					font-size: 16px;

					@media screen and (min-width: 1280px) {
						line-height: 150%;
						font-size: 14px;
					}
				}
			}
		}
	}
}

.skeleton {
	display: inline-block;
}

.view-more {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;

	&-text {
		display: inline-block;
		color: var(--common-buttonTextColor);
		font-family: 'IBM Plex Sans';
		font-style: normal;
		font-weight: normal;
		font-size: 16px;

		@media screen and (min-width: 1280px) {
			line-height: 150%;
			font-size: 14px;
		}
	}
}
