@import "src/styles/utils";

.delegation-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		background-color: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px var(--common-boxShadowColor);
		border-radius: 8px;

		table {
			width: 100%;
			tr {
				td:nth-child(1) {
					text-align: left;
					width: 50%;
				}
				td:nth-child(2) {
					text-align: right;
					width: 50%;
				}

				&:nth-child(1) {
					td {
						padding-bottom: 15px;
					}
				}
			}
		}

		.item-title {
			color: var(--common-oraiDenomTextColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		.item-text {
			color: var(--common-oraiDenomTextColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.item-link {
			color: var(--common-oraiDenomTextColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.amount,
		.reward {
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;

			&-value {
				display: inline-block;
				margin-right: 4px;
				color:var(--common-oraiDenomTextColor);
			}

			&-denom {
				display: inline-block;
				color: var(--common-oraiDenomTextColor);
				text-transform: uppercase;
			}
		}
	}
}


.result-data-cell {
	.result {
		&-icon {
			margin-right: 9px;
			width: 16px;
			height: auto;

			&-success {
				color: var(--common-resultIconSuccessColor);
			}

			&-failed {
				color: var(--common-resultIconFailureColor);
			}

			&-pending {
				color: var(--common-resultIconPendingColor);
			}
		}

		&-text {
			color: var(--common-oraiDenomTextColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}
	}
}