@import "src/styles/utils";

.status-box {
	display: flex;
	flex-direction: row;
	background: var(--common-containerBackgroundColor);
	border: 1px solid var(--common-borderColor);
	box-sizing: border-box;
	border-radius: 8px;

	@include media("<medium") {
		margin-bottom: 20px;
	}

	&-item {
		margin: 10px 10px;

		&:first-child {
			margin-left: 20px;
		}

		&:last-child {
			margin-right: 20px;
		}

		.status-label {
			display: inline-block;
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
			padding-right: 5px;
		}

		.status-value {
			display: inline-block;
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 150%;
		}
	}
}
