@import "src/styles/utils";

.filter-section {
	&-left {
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;

		.search-box {
			// flex-grow: 1;
			width: 100%;

			.search-input {
				width: 100%;
				padding: 12px 20px;
			}
		}
	}

	&-right {
		.network-switcher {
			position: relative;
			cursor: pointer;

			.selected-item {
				box-sizing: border-box;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				width: 230px;
				height: 50px;
				padding: 15px;
				background: var(--common-containerBackgroundColor);
				box-shadow: 0 2px 8px rgba(174, 195, 210, 0.25);
				border-radius: 8px;
				cursor: pointer;
			}

			.text-field {
				display: inline-block;
				background: var(--common-containerBackgroundColor);
				color: var(--common-textColor);
				border: none;
				font-family: Roboto;
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;
				flex-grow: 1;
				width: 100%;
				cursor: pointer;

				&:focus-visible {
					outline: none;
				}
			}

			.arrow {
				display: inline-block;
				margin-right: 8px;
				width: 11px;
				height: auto;
				color: var(--common-textColor);
			}

			.list {
				display: none;
				position: absolute;
				left: 0;
				top: 54px;
				width: 200px;
				border-radius: 8px;
				background: var(--common-containerBackgroundColor);
				z-index: 10;

				&-item {
					padding: 20px 15px;
					color: var(--common-textColor);
					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 150%;
					cursor: pointer;

					&:hover {
						background: var(--common-blockItemBackgroundColor);
					}
				}
			}
		}
	}
}
