

.app {
	min-height: calc(100vh - var(--heightFooter));
	background-color: var(--common-backgroundColor);
	font-family: 'IBM Plex Sans';
	overflow: hidden;
}

.dialog {
	top: 10px;

	&-title {
		text-align: right;
	}
}

.top-background {
	position: absolute;
	top: 0;
	width: 100%;
}

:global(.ant-notification) {
	z-index: 9999;
}