@font-face {
	font-family: "Kiona";
	src: url("/fonts/Kiona-Regular.ttf");
}
@font-face {
	font-family: "Kiona";
	src: url("/fonts/Kiona-Bold.ttf");
	font-weight: bold;
}

.app {
	min-height: calc(100vh - var(--heightFooter));
	background-color: var(--common-backgroundColor);
	font-family: 'IBM Plex Sans';
	overflow: hidden;
}

.dialog {
	top: 10px;

	&-title {
		text-align: right;
	}
}

.top-background {
	position: absolute;
	top: 0;
	width: 100%;
}
