@import "src/styles/utils";
.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.header-cell {
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
}

.skeleton-data-cell {
	box-sizing: border-box;
	height: 32px;
}

.tx-hash-data-cell {
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}

.type-data-cell {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	.first-message-type {
		padding: 6px 10px;
		margin-right: 5px;
		border: 1px solid var(--common-transactions-transactionTypeLabelColor);
		background-color: var(--common-transactions-transactionTypeLabelColor);
		box-sizing: border-box;
		border-radius: 4px;
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 150%;
	}

	.number-of-message {
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 150%;
	}
}

.result-data-cell {
	.result {
		display: flex;
		flex-direction: row;
		justify-content: center;

		&-icon {
			&-success {
				margin-right: 5px;
				color: var(--common-resultIconSuccessColor);
			}
			&-failed {
				margin-right: 5px;
				color: var(--common-resultIconFailureColor);
			}
		}

		&-text {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}
	}
}

.amount-data-cell {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	&-with-transfer-status {
		justify-content: space-between;
	}

	.more {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		&-text {
			display: inline-block;
			margin-right: 8px;
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 20px;
		}

		&-icon {
			display: inline-block;
			color: var(--common-transactions-moreIconColor);
		}
	}

	.amount {
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;

		&-value {
			padding-right: 4px;
		}

		&-denom {
			text-transform: uppercase;
		}

		&-usd {
			padding-left: 4px;
		}
	}

	.transfer-status {
		display: block;
		padding: 7px;
		border-radius: 4px;
		background: #ffffff;
		font-family: Roboto;
		font-style: normal;
		font-weight: bold;
		font-size: 11px;
		line-height: 150%;

		&-in {
			color: #3fcc28;
			border: 1px solid #3fcc28;
		}

		&-out {
			color: #f98442;
			border: 1px solid #f98442;
		}
	}
}

.fee-data-cell {
	.fee {
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;

		&-value {
			padding-right: 4px;
		}

		&-denom {
			text-transform: uppercase;
		}

		&-usd {
			padding-left: 4px;
		}
	}
}

.time-data-cell,
.height-data-cell {
	display: block;
	color: var(--common-textColor);
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
}
