@import "src/styles/utils";

.container {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	.title {
		font-size: 16px;
		font-weight: bold;
	}
	.info {
		display: flex;
		flex-flow: row;
		border-radius: 5px;
		background: #fff;
		justify-content: space-between;
		align-items: center;
		padding-left: 15px;
		padding-right: 15px;
		border: solid 1px #c1c1c1;
		padding-left: 10px;
		padding-right: 10px;
		.txt-info {
			font-size: 12px;
			margin-left: 5px;
		}
	}
}

.container-mobile {
	.container-block {
		display: flex;
		justify-content: space-between;
		.title {
			font-weight: 500;
			font-size: 20px;
			color: #181818;
		}
		.show-more {
			font-size: 13px;
			color: #1b57f0;
			border: 1px solid #1b57f0;
			box-sizing: border-box;
			border-radius: 4px;
			padding: 5px 17px;
			background: #ffffff;
		}
	}
	.info {
		margin-top: 10px;
		display: inline-flex;
		border-radius: 5px;
		background: #fff;
		justify-content: space-between;
		align-items: center;
		border: solid 1px #c1c1c1;
		padding: 5px 10px;
		.txt-info {
			font-size: 12px;
			margin-left: 5px;
		}
		svg {
			display: block;
			margin-right: 10px;
		}
	}
}
