@import "src/styles/utils";

.proposal-card-list {
	&-item {
		padding: 15px;
		margin-bottom: 15px;
		background-color: var(--common-containerBackgroundColor);
		box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
		border-radius: 8px;

		table {
			width: 100%;
			tr {
				td:nth-child(1) {
					text-align: left;
					width: 40%;
				}
				td:nth-child(2) {
					text-align: right;
					width: 60%;
				}

				&:nth-child(1),
				&:nth-child(2) {
					td {
						padding-bottom: 15px;
					}
				}

				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					td {
						padding-bottom: 10px;
					}
				}
			}
		}

		.item-title {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}

		.item-text {
			color: var(--common-textColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.item-link {
			color: var(--common-linkColor);
			font-family: 'IBM Plex Sans';
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
		}

		.status-data-cell {
			display: inline-block;

			.status {
				display: inline-flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
				height: 28px;
				padding-left: 8px;
				padding-right: 8px;
				border-radius: 4px;

				&-icon {
					display: inline-block;
					margin-right: 4px;
					&-passed {
						color: var(--proposals-proposalTable-statusPassedTextColor);
					}
					&-rejected {
						color: var(--proposals-proposalTable-statusRejectedTextColor);
					}

					&-unspecified {
						color: var(--proposals-proposalTable-statusUnspecifiedTextColor);
					}

					&-deposit-period {
						color: var(--proposals-proposalTable-statusDepositPeriodTextColor);
					}

					&-voting-period {
						color: var(--proposals-proposalTable-statusVotingPeriodTextColor);
					}

					&-failed {
						color: var(--proposals-proposalTable-statusFailedTextColor);
					}
				}

				&-text {
					display: inline-block;

					font-family: 'IBM Plex Sans';
					font-style: normal;
					font-weight: normal;
					font-size: 11px;
				}

				&-passed {
					border: 1px solid var(--proposals-proposalTable-statusPassedBorderColor);
					background-color: var(--proposals-proposalTable-statusPassedBackgroundColor);
					.status-text {
						color: var(--proposals-proposalTable-statusPassedTextColor);
					}
				}

				&-rejected {
					border: 1px solid var(--proposals-proposalTable-statusRejectedBorderColor);
					background-color: var(--proposals-proposalTable-statusRejectedBackgroundColor);
					.status-text {
						color: var(--proposals-proposalTable-statusRejectedTextColor);
					}
				}

				&-unspecified {
					border: 1px solid var(--proposals-proposalTable-statusUnspecifiedBorderColor);
					background-color: var(--proposals-proposalTable-statusUnspecifiedBackgroundColor);
					.status-text {
						color: var(--proposals-proposalTable-statusUnspecifiedTextColor);
					}
				}

				&-deposit-period {
					border: 1px solid var(--proposals-proposalTable-statusDepositPeriodBorderColor);
					background-color: var(--proposals-proposalTable-statusDepositPeriodBackgroundColor);
					.status-text {
						color: var(--proposals-proposalTable-statusDepositPeriodTextColor);
					}
				}

				&-voting-period {
					border: 1px solid var(--proposals-proposalTable-statusVotingPeriodBorderColor);
					background-color: var(--proposals-proposalTable-statusVotingPeriodBackgroundColor);
					.status-text {
						color: var(--proposals-proposalTable-statusVotingPeriodTextColor);
					}
				}

				&-failed {
					border: 1px solid var(--proposals-proposalTable-statusFailedBorderColor);
					background-color: var(--proposals-proposalTable-statusFailedBackgroundColor);
					.status-text {
						color: var(--proposals-proposalTable-statusFailedTextColor);
					}
				}
			}
		}

		.total-deposit-data-cell {
			.amount {
				font-family: 'IBM Plex Sans';
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150%;

				&-value {
					display: inline-block;
					margin-right: 8px;
					color: var(--common-textColor);
				}

				&-denom {
					display: inline-block;
					color: #5f51ff;
				}
			}
		}
	}
}

.skeleton {
	display: inline-block;
}
