@import "src/styles/utils";

.infomation {
	background: var(--colorWhite);
	box-shadow: var(--shadow1);
	border-radius: var(--radius1);
	padding: 20px 30px;
}

.title {
	@include Typo(Roboto, normal, 500, 20px, 30px);
	margin-bottom: 20px;

	a {
		color: var(--color1);
	}
}

.request-response {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	.box {
		@include Border([ "all" ], var(--border1));
		border-radius: var(--radius2);
		padding: 20px;
		width: 280px;
		margin-right: 20px;
		.title {
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			color: #181818;
		}
		.value {
			font-weight: 500;
			font-size: 24px;
			line-height: 150%;
			color: #181818;
		}
	}
}

.content {
	@include Border([ "all" ], var(--border1));
	border-radius: var(--radius2);

	&__title {
		padding: 14px 20px;
		@include Typo(Roboto, normal, 500, 16px, 24px);
		@include Border([ "bottom" ], var(--border1));
	}

	&__main {
		padding: 20px 20px;
	}

	&__owner {
		margin-bottom: 15px;

		span {
			display: inline-block;
			width: 150px;
			strong {
				@include Typo(Roboto, normal, 500, 16px, 24px);
				margin-right: 7px;
				vertical-align: middle;
				display: inline-block;
			}
			svg {
				vertical-align: middle;
				display: inline-block;
			}
		}

		a {
			@include Typo(Roboto, normal, 400, 16px, 24px);
			color: var(--color1);
			vertical-align: middle;
			display: inline-block;
			margin-right: 5px;
		}
	}

	&__des {
		&-title {
			@include Typo(Roboto, normal, 500, 16px, 24px);
			margin-bottom: 5px;
		}
		&-content {
			@include Typo(Roboto, normal, 400, 16px, 24px);
		}
	}
}
