@import "src/styles/utils";

.container {
	padding: 25px 20px;
	border-radius: var(--radius1);
	background-color: var(--colorWhite);
}

.head-table {
	margin-bottom: 25px;
	@include FlexCombo(row, space-between, center);

	button {
		padding: 8px 10px;
		@include Border([ "all" ], var(--border2));
		@include FlexCombo(row, center, center);
		border-radius: var(--radius3);
		color: var(--color1);

		svg {
			margin-left: 5px;
			path {
				fill: var(--color1);
			}
		}
	}
}

.request {
	@include FlexCombo(row, flex-start, center);

	strong {
		@include Typo(Roboto, normal, 500, 20px, 30px);
		margin-right: 4px;
	}

	span {
		@include Typo(Roboto, normal, 400, 20px, 30px);
		color: var(--color2);
	}
}

.request-cell {
	color: var(--color1);
}
