@import "src/styles/utils";

.coins-card {
	padding: 35px;
	background: var(--common-containerBackgroundColor);
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;

	.denom {
		text-transform: uppercase;
	}

	.unit-price,
	.total-price {
		text-align: right;
		@media screen and (min-width: 960px) {
			text-align: left;
		}
	}

	.total-orai-title,
	.unit-price {
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;

		@media screen and (min-width: 960px) {
			font-weight: normal;
			font-size: 14px;
		}
	}

	.total-orai-value,
	.total-price {
		color: var(--common-textColor);
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;

		@media screen and (min-width: 960px) {
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
		}
	}

	.total-orai-value {
		margin-bottom: 36px;
	}

	.coins {
		text-align: center;

		&-graph {
			display: inline-block;
			width: 120px;
			height: 120px;
		}

		&-name {
			color: var(--common-textColor);
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}
	}

	.donut-chart {
		text-align: center;
		fill: var(--common-textColor);
		@media screen and (min-width: 960px) {
			text-align: left;
		}
	}

	.chart-comments {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		margin-top: 20px;

		@media screen and (min-width: 960px) {
			margin-top: 0;
		}

		.chart-comment-group {
			display: inline-flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			.chart-comment {
				display: inline-flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				&:first-child {
					margin-bottom: 15px;
				}

				&-icon {
					width: 12px;
					height: 12px;
					margin-right: 10px;
					border-radius: 100%;
					background-color: #0278ae;
				}

				&-label {
					color: var(--common-textColor);
					font-family: Roboto;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 150%;
				}

				&-value {
					color: var(--common-textColor);
					font-family: Roboto;
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 150%;
				}
			}
		}
	}
}

.skeleton {
	&-block {
		display: block;
	}

	&-inline {
		display: inline-block;
	}
}
