@import "src/styles/utils";

.coins-card {
	padding: 35px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(174, 195, 210, 0.25);
	border-radius: 8px;

	.unit-price,
	.total-price {
		text-align: right;
		@media screen and (min-width: 960px) {
			text-align: left;
		}
	}

	.total-orai-title,
	.unit-price {
		color: #181818;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;

		@media screen and (min-width: 960px) {
			font-weight: normal;
			font-size: 14px;
		}
	}

	.total-orai-value,
	.total-price {
		color: #181818;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150%;

		@media screen and (min-width: 960px) {
			font-weight: 500;
			font-size: 20px;
			line-height: 150%;
		}
	}

	.total-orai-value {
		margin-bottom: 36px;
	}

	.coins {
		text-align: center;

		&-graph {
			display: inline-block;
			width: 120px;
			height: 120px;
		}

		&-name {
			color: #000000;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}
	}

	.donut-chart {
		text-align: center;

		@media screen and (min-width: 960px) {
			text-align: left;
		}
	}

	.chart-comments {
		margin-top: 16px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.chart-comment {
		margin-bottom: 16px;

		&-color {
			margin-right: 10px;
			width: 12px;
			height: 12px;
			border-radius: 100%;
		}

		&-text {
			color: #181818;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 150%;
		}

		&-value {
			color: #181818;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 150%;
		}
	}
}

.uppercase {
	text-transform: uppercase;
}
