/* your css code */
@import "src/styles/utils";

.table-content-wrapper {
	flex: 1;
	width: 100%;
	height: 100%;

	@include media(">medium") {
		&:first-child {
			margin-right: 10px;
		}
	}

	@include media("<medium") {
		min-width: 100%;
	}

	.CardTemplate {
		@include card-wrapper(0);
		min-height: 670px;
		@include media("<medium") {
			background-color: #f5f5f5;
			box-shadow: none;
		}

		.title-wrapper {
			display: flex;
			flex-flow: row;
			justify-content: space-between;

			.title {
				font-family: Roboto;
				font-weight: 500;
				color: var(--colorMainText);
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				@include media("<medium") {
					font-size: 18px;
				}
			}

			.btn {
				padding: 5px 10px;
				height: 30px;
				outline: none;
				border-radius: 5px;
				font-size: 14px;
				cursor: pointer;
				line-height: 1.19;

				border: 1px solid #1b57f0;
				background-color: white;
				color: #1b57f0;

				@include media("<medium") {
					padding: 6px 17px;
				}

				&:hover {
					border: 1px solid #1b57f0;
					background-color: #1b57f0;
					color: white;
					@include transition-linear;
				}
			}
		}
	}
}
